<div class='debug-menu'><a href='#' class='showDebug'>Show Blocks</a></div>
<div class='menu-separator'></div>               
<div class="primary-menu">  	
  <% menu.primary.forEach(function(menuItem){ 
  
        var menuSelected = '';
        if(menuItem.regexp.test(request.url)) {
             menuSelected = '-selected';
        }
        
  %>
    <a class='menu-item<%- menuSelected %>' href="<%- menuItem.url %>"><%- menuItem.name %></a>
  <% }) %>
</div>
<div class="secondary-menu" style="float: left;">     
  <% menu.secondary.forEach(function(menuItem){ %>
    <a class='menu-item' href="<%- menuItem.url %>"><%- menuItem.name %></a>
  <% }) %> 
</div>
<div class='menu-separator'></div>               