<% if(key) { %>
	
<script type="text/javascript">	
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', '<%- key %>']);
	<% if(anonymizeIP) { %>_gaq.push(["_gat._anonymizeIp"]); <% } %>
	_gaq.push(['_trackPageview']);
	<% if(trackPageSpeed) { %>_gaq.push(['_trackPageLoadTime']); <% } %>
	
	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
	
<% } else { %>

    <!--  GOOGLE ANAYLTICS DISABLED AS NO KEY HAS BEEN DEFINED IN CONFIGURATION -->

<% } %>
 