<!-- Default Content -->
  <div class="col1">
      <h3>About Calipso</h3>
      <p>Calipso is a CMS based on <a href="http://nodejs.org/">NodeJS</a></p>
      <p>It leverages the speed and flexibility of NodeJS, as well as a number
       of other fantastic open source frameworks.</p>
       <p>You can get the source code from <a href="https://github.com/cliftonc/calipso">github</a>.</p>
  </div>
  <div class="col2">
      <h3>Important links</h3>
      <ul>
          <li><a href="https://github.com/cliftonc/calipso">Source Code</a></li>
          <li><a href="http://nodejs.org/">NodeJS</a></li>            
      </ul>        
  </div>
  <div class="col3">
      <h3>Tweets</h3>
      <p>TBD</p> 
  </div>   
