<div class="guide-content">
  <% contents.forEach(function(item) { %>
    <div class='blog-list-item'>
      <h3><a href='/<%= item.alias %>.html'><%- item.title %></a></h3>
      <p class='by'>By <a href='/user/profile/<%- item.author %>'><%- item.author %></a></p>
      <p class='created'>Published: <%- prettyDate(item.published) %> / Last Updated: <%- prettyDate(item.updated) %></p>
      <p class='content'><%- item.teaser %> ... <a href='/<%= item.alias %>.html'>more</a></p>
    </div>
  <% }); %>
  <%- pager %>
</div>