<%
  
  // Track if we are the head flag
  var head = false;
  var currentLevel = 0;
  var endTag = "";
  var menuName = "";
  var menuUrl = "";
  var startTag = "";
  
  //console.log(menu);
  
  menu.forEach(function(menuItem){
    
    endTag = "";
    startTag = "";
    
    var split = menuItem.name.split("/");
    
    if(split.length > 0) {
      
      if(currentLevel < split.length) {
        
        currentLevel = split.length;
        menuName = split[split.length - 1];
        menuUrl = menuItem.url;
        endTag = "";
        startTag = "<ul>";
        
      } else {
          
        if(currentLevel === split.length) {
          
          menuName = split[split.length - 1];
          menuUrl = menuItem.url;
          startTag = "</li>";
          endTag = "";
          
        } else {
          
          if(currentLevel > split.length) {
            
            endTag = "";
            startTag = "";
            for(i=0; i < currentLevel - split.length; i++) {
              startTag += "</li></ul>";
            }
            startTag += "</li>";
            currentLevel = split.length;
            menuName = split[split.length - 1];
            menuUrl = menuItem.url;
            
          }
          
        }
        
      }
      
    } else {
      
      startTag = "<ul>";
      endTag = "";
      currentMenu = menuItem.name;
      menuUrl = menuItem.url;
      
    }
    
    var menuSelected = '';
    if(menuItem.regexp.test(request.url)) {
      menuSelected = '-selected';
    }
    
    // replace slashes and spaces with underscores and dashes, respectively.
    var menuItemTagId = menuItem.name.replace('/', '_').replace(' ', '-');
    
    %>
      <%- startTag %>
      <li id="<%= menuItemTagId %>" class="primary-menu-item<%- menuSelected %>">
      <a href="<%- menuUrl %>"><%- menuName.replace(/\.[a-zA-Z]{1,4}$/,'') /*remove file extension*/ %></a>
      <%- endTag%>
    <%
    
  });
  
  // Close the loop
  endTag = "";
  for(var i=0; i < currentLevel; i++) {
    endTag += "</li></ul>";
  }

%>

<%- endTag %>
