conf
tmp
lib-cov
node_modules
modules/community
modules/private
modules/site
themes/downloaded
themes/custom
themes/community
themes/private
themes/site
media/*
conf/*.json
*.pid
*.log
*.swp
*.sock
*.gz
*.sass-cache
.idea
db/dump