tmp
lib-cov
node_modules
modules/downloaded/*
modules/custom
modules/community/*
modules/site
modules/private
media/*
themes/downloaded/*
themes/custom/*
conf/*.json
*.pid
*.log
*.swp
*.sock
*.gz
*.sass-cache
themes/community/
themes/private/
