<div class="admin-page">
  
  <form action="/admin/save" method="POST" enctype="multipart/form-data" class="admin-form">
  <ul class="tabs"> 
        <li><a href="#development">Development</a></li> 
        <li><a href="#theme">Theme</a></li> 
        <li><a href="#logging">Logging</a></li> 
        <li><a href="#modules">Modules</a></li> 
    </ul> 
    <div class="tab_container"> 
        <div id="development" class="tab_content">
		        <div class="form-field">
		          <label>Watch Template Files</label>
		          <input type="checkbox" name="config[watchFiles]"<%=
		          item.meta.watchFiles ? "checked" : "" %>>
		          <label for="config[watchFiles]">Enabled</label>
		    </div>
		    <div class="form-field">
		          <label>Default Language</label>
		          <select name="config[language]">
		            <% request.languages.forEach(function(language) { %>
		              <option value="<%-language %>" <%= item.meta.language === language ? "selected" : "" %>> <%-language %> </option>
		            <% }); %>
		      </select>
		    </div>
        
        </div> 
        <div id="theme" class="tab_content">
        	<div class="form-field">
			      <label>Theme</label>
			      <select name="config[theme]">
			        <% themes.forEach(function(theme) { %>
			          <option value="<%-theme.name %>" <%= theme.selected ? "selected" : "" %>> <%-theme.name%> </option>
			        <% }); %>
			      </select>
			    </div>
        </div> 
        <div id="logging" class="tab_content">
        	<div class="form-field">
			      <label>Log Level</label>
			      <select name="config[logslevel]">
			        <% for(var level in loglevels) { %>
			          <option value="<%-level %>" <%= item.meta.logs.level === level ? "selected" : "" %>> <%- level %> </option>
			        <% } %>
			      </select>
			    </div>
			
			    <div class="form-field">
			      <label>Console Logging</label>
			      <input type="checkbox" name="config[logsconsoleenabled]"
			        id="config[logsconsoleenabled]"
			        <%= item.meta.logs.console.enabled ? "checked" : "" %>>
			      <label for="config[logsconsoleenabled]">Enabled</label>
			    </div>
			
			    <div class="form-field">
			      <label>File Logging</label>
			      <input type="checkbox" name="config[logsfileenabled]"
			        id="config[logsfileenabled]"
			        <%= item.meta.logs.file.enabled ? "checked" : "" %>>
			      <label for="config[logsfileenabled]">Enabled</label>
			    </div>
			
			    <div class="form-field">
			      <label>File Log Path</label>
			      <input type="text" name="config[logsfilefilepath]"
			        value="<%= item.meta.logs.file.filepath%>">
			    </div>
        </div> 
        <div id="modules" class="tab_content">
        	<% for(var module in modules) { %>
			      <div class="form-field">
			        <input type="checkbox" name="config[modules][<%-module%>]"
			          id="config[modules][<%-module%>]"
			          <%= modules[module].enabled ? "checked" : "" %>>
			        <label for="config[modules][<%-module%>]">[<%-modules[module].type %>] <%-module%></label>
			      </div>
			    <% } %>
        </div> 
    </div>
    
    <div>
      <div class="primary-actions">
        <input type="submit">
      </div>
    </div>

  </form>
</div>