<div class="admin-page">

  <h2>Administration</h2>

  <form action="/admin/save" method="POST" enctype="multipart/form-data" class="admin-form">

    <h3>Core Configuration</h3>

    <h4>Development</h4>
    <div class="form-field">
          <label>Watch Template Files</label>
          <input type="checkbox" name="config[watchFiles]"<%=
          item.meta.watchFiles ? "checked" : "" %>>
          <label for="config[watchFiles]">Enabled</label>
    </div>
    <div class="form-field">
          <label>Default Language</label>
          <select name="config[language]">
            <% request.languages.forEach(function(language) { %>
              <option value="<%-language %>" <%= item.meta.language === language ? "selected" : "" %>> <%-language %> </option>
            <% }); %>
      </select>
    </div>

    <h4>Theme</h4>
    <div class="form-field">
      <label>Theme</label>
      <select name="config[theme]">
        <% themes.forEach(function(name) { %>
          <option value="<%-name %>" <%= name.selected ? "selected" : "" %>> <%-name %> </option>
        <% }); %>
      </select>
    </div>


    <h4>Logging</h4>
    <div class="form-field">
      <label>Log Level</label>
      <select name="config[logslevel]">
        <% for(var level in loglevels) { %>
          <option value="<%-level %>" <%= item.meta.logs.level === level ? "selected" : "" %>> <%- level %> </option>
        <% } %>
      </select>
    </div>

    <div class="form-field">
      <label>Console Logging</label>
      <input type="checkbox" name="config[logsconsoleenabled]"
        id="config[logsconsoleenabled]"
        <%= item.meta.logs.console.enabled ? "checked" : "" %>>
      <label for="config[logsconsoleenabled]">Enabled</label>
    </div>

    <div class="form-field">
      <label>File Logging</label>
      <input type="checkbox" name="config[logsfileenabled]"
        id="config[logsfileenabled]"
        <%= item.meta.logs.file.enabled ? "checked" : "" %>>
      <label for="config[logsfileenabled]">Enabled</label>
    </div>

    <div class="form-field">
      <label>File Log Path</label>
      <input type="text" name="config[logsfilefilepath]"
        value="<%= item.meta.logs.file.filepath%>">
    </div>


    <h3>Modules</h3>

    <% for(var module in modules) { %>
      <div class="form-field">
        <input type="checkbox" name="config[modules][<%-module%>]"
          id="config[modules][<%-module%>]"
          <%= modules[module].enabled ? "checked" : "" %>>
        <label for="config[modules][<%-module%>]">[<%-modules[module].type %>] <%-module%></label>
      </div>
    <% } %>


    <div class="actions">
      <div class="primary-actions">
        <input type="submit">
      </div>
    </div>

  </form>
</div>