<div class="admin-install">
  
  <div class="form-steps three-form-steps clearfix">
    <ul>
      <li class="step1 on">
        <div class="form-step-name">
          <%= t("Configure MongoDB") %>
        </div>
      </li>
      <li class="step2">
        <div class="form-step-name">
          <%= t("Configure Default (Admin) User") %>
        </div>
      </li>
      <li class="step3">
        <div class="form-step-name">
          <%= t("Configure Modules") %>
        </div>
      </li>
    </ul>
  </div>
  
  <h1><%= t("Configure MongoDB") %></h1>
  
  <div id="mongo-status" style="display: none;">
  </div>
  
  <%- form %>
  
  <div class="admin-install-links">
    <a id="form-submit" class="submit" href="#"><%= t("Step 2: Configure Default User") %> &gt;</a>
  </div>
  
  <script>
    (function L() {
      
      if(window.jQuery){
        
        // Ajax request to /admin/install/mongo/test
        function checkMongo() {
          
          $('#mongo-status').show();
          $('#mongo-status').html("<span class='install-progress'>Connecting to MongoDB, please wait ... </span>");
          
          var dbUri = $(".database-uri").val();
          var postData = {"dbUri":dbUri};
          
          $.ajax({
            type: "POST",
            url: "/admin/installTest/mongo",
            dataType:"json",
            data:postData,
            success: function(res){
              if(res.status === "OK") {
                $('#mongo-status').html("<div class='success'>MongoDB connection successfull.</div>");
                setTimeout(function() {
                  $('#install-mongo-form').submit();
                },1000);
              } else {
                $('#mongo-status').html("<div class='error'>MongoDB connection failed, please check the details and try again.</div>");
              }
            }
          });
  
          // $('#install-mongo-form').submit();
  
          // $('#mongo-status').html()
        }
  
        $('#form-submit').click(function(event) {
          event.preventDefault();
          checkMongo();
        });
      
      } else {
        setTimeout(L, 50);
      }
      
    })();
  </script>
</div>