<div class='admin-install'>
  
  <div class="form-steps three-form-steps clearfix">
    <ul>
      <li class="step1">
        <div class="form-step-name">
          <%= t("Configure MongoDB") %>
        </div>
      </li>
      <li class="step2">
        <div class="form-step-name">
          <%= t("Configure Default (Admin) User") %>
        </div>
      </li>
      <li class="step3 on">
        <div class="form-step-name">
          <%= t("Configure Modules") %>
        </div>
      </li>
    </ul>
  </div>
  
  <h1><%= t("Configure Default Modules") %></h1>
  
  <%- form %>
  
  <div class="admin-install-links">
    <a class="button back" href="?installStep=user">&lt; <%= t("Step 2: Configure Default (Admin) User") %></a>
    <a id="form-submit" class="submit" href="#"><%= t("Save Configuration and Install") %></a>
  </div>
  
  <script>
    (function L() {
      
      if(window.jQuery){
        $('#form-submit').click(function(e) {
          e.preventDefault();
          $('#install-modules-form').submit();
        });
      } else {
        setTimeout(L, 50);
      }
      
    })();
  </script>
</div>
