<script type="text/javascript" src="/js/markitup/jquery.markitup.js"></script>
<!-- markItUp! toolbar settings -->
<script type="text/javascript" src="/js/markitup/sets/default/set.js"></script>
<!-- markItUp! skin -->
<link rel="stylesheet" type="text/css" href="/js/markitup/skins/markitup/style.css" />
<!--  markItUp! toolbar skin -->
<link rel="stylesheet" type="text/css" href="/js/markitup/sets/default/style.css" />
<script type="text/javascript">
$(document).ready(function()  {

  // Add markItUp! to your textarea in one line
  $('textarea.textarea').markItUp(myHtmlSettings);

});
</script>