.sidePanelItem.aboutMe
  // Dynamic sectionc content
  != about
  
.sidePanelItem
  // Theme/ Module driven content
  != tagcloud

.sidePanelItem.ad
  .dummy-ad
    // replace, up to and including the ".dummy-ad" div, with an actual ad
    | [demo ad placement]

.sidePanelItem
  != fn
