.googleicon {
  display: block;
  padding-left: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
  background: url(../images/google.ico) center left no-repeat;
}

.twittericon {
  display: block;
  padding-left: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
  background: url(../images/twitter.ico) center left no-repeat;
}

.facebookicon {
  display: block;
  padding-left: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
  background: url(../images/facebook.ico) center left no-repeat;
}
