<div class="folder-view">
	<h2><%- folder.title %></h2>
	<span class="small">
			<i>Created <%- prettyDate(folder.created) %>&nbsp;&nbsp;&nbsp;&nbsp;
			Last updated <%- prettyDate(folder.updated) %></i>
	</span>
	<p><%- folder.description %></p>
	<table class='tabular'>
		<tr>
			<th><%- t('Name') %></th>
			<th><%- t('Folder') %></th>
			<th><%- t('Writeable?') %></th>
			<th><%- t('Deletable?') %></th>
			<th><%- t('Created') %></th>
			<th><%- t('Updated') %></th>
			<% if (user.isAdmin) { %>
			<th><%- t('Object') %></th>
			<% } %>
		</tr>
		<% assets.forEach(function(item) { %>
		<tr class='content-list-item'>
			<td><%- item.title %></td>
			<td><%- item.folder %></td>
			<td><%- item.canWrite %></td>
			<td><%- item.canDelete %></td>
			<td><%- item.created %></td>
			<td><%- item.updated %></td>
			<% if (user.isAdmin) { %>
			<td><%= JSON.stringify(item) %></th>
			<% } %>
		</tr>
		<% });  %>
	</table>
</div>