<div class="project-view">
	<h2><%- project.title %></h2>
	<span class="small">
			<i>Created <%- prettyDate(project.created) %>&nbsp;&nbsp;&nbsp;&nbsp;
			Last updated <%- prettyDate(project.updated) %></i>
	</span>
	<p><%- project.description %></p>
	<table class='tabular'>
		<tr>
			<th><%- t('Name') %></th>
			<th><%- t('Created') %></th>
			<th><%- t('Updated') %></th>
			<% if (user.isAdmin) { %>
			<th><%- t('Object') %></th>
			<% } %>
		</tr>
		<% folders.forEach(function(item) { %>
		<tr class='content-list-item'>
			<td><a href='/project/<%= project.title %>/<%= item.title %>'><%- item.title %></a></td>
			<td><%- item.created %></td>
			<td><%- item.updated %></td>
			<% if (user.isAdmin) { %>
			<td><%= JSON.stringify(item) %></th>
			<% } %>
		</tr>
		<% });  %>
	</table>
</div>