<html>
  <head>
    <title>Node Content Manager</title>
    	<link rel="stylesheet" href="/css/style.css" />
    	<link type="text/css" href="/css/Aristo/jquery-ui-1.8.7.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.8.10.custom.min.js"></script>
		<script>
		$(document).ready(function() {
		    var sipPos = 10;
		    $(".showDebug").click(function(e) {
		        e.preventDefault();		        
		        $("#debug").animate({ top: sipPos }, 200, 'linear', function() {
		            if(sipPos == 10) { sipPos = -350; }
		            else { sipPos = 10; }
		        });
		    });
		});              
		</script>		
  </head>
  <body>  	
    <div id="menu">
    <% if(user && user.isAdmin) { %>
         <%- partial('pages/_menu') %>
       <%  } %>
    </div>
  	<div id="container">
	  	<div id="header">
              <h1><a href="/">Node Content Manager</a></h1>                        
		</div>	      
		<div id="content">    		    		
    		<%- partial('pages/_body') %>
    	</div>
    	<div id="right">    	                 
            <%- partial('pages/_right') %>
        </div>        
        <div style="clear:both"></div>
    	<div id="footer">
    	       I am a web site built in Node Content Manager, see me naked on <a href="http://github.com/cliftonc/ncm">github</a>.
        </div>		
        <div id="debug" style="border: solid 2px grey; position: absolute; height: 300; width: 98%; top: -350; left: 10; overflow: auto;">
                <div id="debug-header" style="width: 100%; background-color: #AFAFAF;">
                    <div style="float: right;"><a href='#' class='showDebug'>Hide Blocks</a>&nbsp;</div>
                    <div style="clear: both"></div>                    
                </div>                
               <pre class='code'>
<%= showDebug %>
	           </pre>	        
        </div>
    </div>
  </body>
</html>