<h1><%= item.title %></h1>
<form method="<%- item.method %>" action="<%- item.action %>" >
<%           
        item.fields.forEach(function(field){
        
            %><label><%- field.label %></label><%
                        
            switch(field.type) {
                    case "textarea": %>
                            <textarea rows=10 name="<%- field.name %>"><%- field.value %></textarea>     
                    <% 
                        break;
                    case "select": %>
                            <select name="<%- field.name %>">
                            <%
                                field.options.forEach(function(option) {
                                
                                    %><option <%- field.value === option ? "SELECTED" :"" %>><%-option%></option><%                                    
                                });
                            %>
                            </select>                        
                    <%      
                        break;                  
                     case "cronTime": %>
                           <br/>
                           <label class='job-crontime-label'>Second:</label><input type="text" class='job-crontime' value="<%- field.value ? field.value.split(/\s/)[0] : "*" %>" name="job[cronTime0]"/>
                           <label class='job-crontime-label'>Minute:</label><input type="text" class='job-crontime' value="<%- field.value ? field.value.split(/\s/)[1] : "*" %>" name="job[cronTime1]"/>
                           <label class='job-crontime-label'>Hour:</label><input type="text" class='job-crontime' value="<%- field.value ? field.value.split(/\s/)[2] : "*" %>" name="job[cronTime2]"/>
                           <label class='job-crontime-label'>DoM:</label><input type="text" class='job-crontime' value="<%- field.value ? field.value.split(/\s/)[3] : "*" %>" name="job[cronTime3]"/>
                           <label class='job-crontime-label'>Month:</label><input type="text" class='job-crontime' value="<%- field.value ? field.value.split(/\s/)[4] : "*" %>" name="job[cronTime4]"/>
                           <label class='job-crontime-label'>DoW:</label><input type="text" class='job-crontime' value="<%- field.value ? field.value.split(/\s/)[5] : "*" %>" name="job[cronTime5]"/>
                           <br/>
                           <small>
                            <b>Examples</b>
                            <p>
                                <ul>
                                    <li>00 * * * * * : When seconds are zero exactly.</li>
                                    <li>*/5 * * * * * : Every five seconds.</li>
                                    <li>10-20 * * * * * : Every second from 10 through 20.</li>
                                    <li>00 00 02 * * * : 2AM every day.</li>
                                    <li>23 12 02 * jan mon-fri : @ 2:12:23 Monday to Friday in January</li>                                    
                                </ul>
                            </p>
                           </small>
                           
                    <%                        
                        break;
                    default: %>                                         
                           <input type="<%- field.type %>" hidden="<%- field.hidden %>" value="<%- field.value %>" name="<%- field.name %>"/>
                <%      
                }
        });
%>
<input type="submit" value="Submit" />
</form>