<div class="template-module">
    <h2><%- t('Content Types') %></h2>
    <table>
        <tr>
            <th><%- t('Type') %></th>
            <th><%- t('Description') %></th>
            <th><%- t('Layout') %></th>
            <th><%- t('Public') %></th>
        </tr>

        <%
        items.forEach(function(item) {
        %>
        <tr>
            <td><a href='/content/type/show/<%- item._id %>'><%- item.contentType %></a></td>
            <td> <%- item.description %></td>
            <td> <%- item.layout %></td>
            <td> <%- item.ispublic ? "Yes" : "No" %></td>
        </tr>
        <%
        });

        if(!items) {
        %>
        <td colspan='4'><%- t('No content types defined.') %></td>
        <%
        }
        %>
    </table>
</div>