<div class="content-item">
    <h1><a href="/user/profile/<%= item.username %>"><%= display.name ? display.name : item.username %></a></h1>
    <% if(display.email) { %>
    <p><a href='mailto:<%- display.email %>'><%= display.email %></a></p>
    <% } %>
    <p><%= item.about %></p>

    <p>
        <% if(user.isAdmin || user.username === item.username) { %>
        <small><a href="/user/profile/<%= item.username %>/edit"><%= t('Edit Your Profile') %></a></small>
        <% } %>
    </p>
</div>