<% if(user.isAdmin) { %>
<div class="admin-menu">
  <div class="admin-primary-menu">
    <% menu.primary.forEach(function(menuItem){ %>
      <a class='admin-menu-item<%= menuItem.regexp.test(request.url) ? '-selected' : '' %>' href="<%- menuItem.url %>"><%- menuItem.name %></a>
    <% }); %>
  </div>
  <div class="admin-secondary-menu" style="float: left;">
    <% menu.secondary.forEach(function(menuItem){ %>
      <a class='admin-menu-item' href="<%- menuItem.url %>"><%- menuItem.name %></a>
    <% }); %>
  </div>
</div>
<% } %>
