
<!--  JQuery -->
<script src="/js/jquery-1.4.4.min.js"></script>

<!--  Prettify -->
<script src="/js/prettify/prettify.js"></script>

<!--  jsTree menu -->
<script src="/js/jsTree/jquery.jstree.js"></script>

<script src="/js/cleanslate-core.js"></script>

<!--  START OF DYNAMIC INSERTION -->
<%- scripts %>
<!--  END OF DYNAMIC INSERTION -->

<script>
$(function() {

  // Navigation
  $('.primary-menu').jstree({
    "themes" : {
      "theme" : "default",
      "dots" : false,
      "icons" : false
    },
    "plugins" : [ "themes", "html_data" ]
  });

  // Pretty printing
  prettyPrint();

  $('.content-block').dblclick(function() {
    if(this.id) {
      location.href = "/content/edit/" + this.id + "?returnTo=<%= request.url %>";
    }
  });

});
</script>

