
<!--
  TODO: separate this out ..
  "scripts.html" is not a good name for title, stylesheets, and scripts.
  TODO: make the title dynamic.
-->

<!--  STYLES -->
<link href="/css/calipso.css" rel="stylesheet">
<link href="/css/tabs.css" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet">
<link href="/css/table.css" rel="stylesheet">

<!--  Google Fonts -->
<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans:regular" rel="stylesheet">

<!--  Prettify -->
<link href="/js/prettify/dessert.css" rel="stylesheet">

