/*
Since stylus has a parsing bug (or feature) that disallows the underscore hack,
the star hack has been used instead, to the detriment of ie7.
*/

/* --- Common Definitions ---*/
border-radius()
  -webkit-border-radius  arguments
  -moz-border-radius  arguments
  border-radius  arguments

box-shadow()
  -webkit-box-shadow  arguments
  -moz-box-shadow  arguments
  box-shadow  arguments

background-main()
  background  #1A1A1A url(/images/simple_bg.gif) repeat

background-highlight()
  background  #2A2C2A url(/images/simple_bg.gif) repeat


/*--- Calipso style sheet ---*/
*
  margin  0
  padding  0  

html
  background-color #444444
  min-height  100%
  background-main()

body
  font 13px/1.231 sans-serif
  *font-size small
  line-height  1.3em
  color  white
  background-main()


/*--- Structural Elements ---*/
#header
  position  relative
  padding-bottom  5px
  margin-bottom  10px
  h1
    background  url(/images/calipso.gif) no-repeat
    background-position-y  10px
    font-size  57px !important
    font-weight  400
    text-shadow  2px 2px 2px #000
    letter-spacing  .1em
    word-spacing  0em
    color  #dd9 !important
    line-height  1.2
    padding-left  70px

#container
  position  relative
  padding  0 10% 10px
  top  37px

#body
  float  left
  *display  inline
  width  80%

#right
  float  right
  width  17%
  *display  inline

#right div
  margin-bottom  25px

/*--- Headers ---*/
h1, h2, h3, h4, h5, h6
  font-family  'Oswald', arial, sans-serif
  font-weight  normal
  line-height  1
  margin  .5em 0

h1
  padding-bottom  10px
  margin-bottom  10px
  text-shadow  1px 1px 1px #000
  font-weight  bold
  color  #DD9

h2, h5
  font-size  1.3em
  color  #DD9
  text-shadow  1px 1px 1px #000
  letter-spacing  .05em
  font-weight  bold

h3
  font-size  1.2em
  color  #DDA
h4
  font-size  1.1em
h5
  font-size  1.1em
h6
  font-size  1em

p
  margin-bottom  1em

strong
  font-weight  bold

em
  font-style  italic

a
  text-decoration  none
  color  #DD9
  &:visited
    color  #EEC
  &:hover
    color  yellow

a img
  border  none

h1 a
  color  #EED !important

h2 a
  color  #DD9 !important

/*--- Lists ---*/
li ul, li ol
  margin  0
ul, ol
  margin  0 0 1em 2.75em

/*--- Tables ---*/
table
  clear  both
  width  100%
  border-collapse  collapse
  border-spacing  0
  border  1px solid #161606
  background  #eaeafa
  margin  12px 0
  font-size  .9em
  margin-bottom  12px
  box-shadow  4px 4px 12px rgba(0, 0, 0, .35)

td
  padding  .25em 1em
  vertical-align  middle
  text-align  left
  border  1px solid #161606
  font-weight  normal
  color  #ffffff
  background  #333

.module-description
  background  #222
  font-size 0.9em

th
  border  1px solid #161606
  background  #A3a383
  color  #333
  text-align  left
  font-weight  bold
  padding  .5em .75em


/*--- Misc ---*/
hr
  border  none
  height  0
  border-bottom  1px solid #e6e6e6
  margin  1em 0

/*--- Pager ---*/
.pager
  clear  both
  display  block

span.pager-page
  padding  3px
  margin  3px
  color  #F5F5D5
  line-height  1.25em

input.pager-page
  display  inline !important
  width  30px
  padding  2px
  margin  3px
  color  #F5F5D5
  line-height  1.25em
  clear  none

a.pager-page
  padding  3px
  margin  3px
  border  1px solid #a6a6c6
  color  #D5D5D5
  line-height  1.25em

pre
  background-highlight()
  border-radius  4px
  width  98%
  padding  1%
  margin-bottom  10px
  white-space  pre-wrap
  white-space  -moz-pre-wrap
  white-space  -pre-wrap
  white-space  -o-pre-wrap
  word-wrap  break-word
  a
    .pln
      text-decoration underline
      color  #5599FF !important
      font-weight bold
    .str
      text-decoration underline
      color  #5599FF !important
      font-weight bold
    &:visited
      .pln
        color  #5599FF !important
      .str
        color  #5599FF !important
    &:hover
      .pln
        color  yellow !important
      .str
        color  #5599FF !important
  .tag
    float none !important

div.dox-comment
  background #222222
  border-radius  4px
  width  98%
  padding  1%
  width  98%
  border solid 1px #ffffff
  position relative
  top 1px
  z-index 3
  margin-bottom 0px

div.no-dox-comment
  color #FF4444

.calloutDown
  height 0
  width 0
  border-top 12px solid #ffffff
  border-left 12px dotted transparent
  border-right 12px dotted transparent
  left 0px
  top 0px
  margin-top 0px
  margin-left 20px
  z-index 11

.calloutDown2
  position relative
  left -10px
  top -12px
  height 0
  width 0
  border-top 10px solid #222222
  border-left 10px dotted transparent
  border-right 10px dotted transparent
  z-index 10

.primary-menu
  color  white
  position  relative
  font-size  1em
  margin-top  10px
  margin-bottom  10px
  margin-left  -5px

.primary-menu .primary-menu-item-selected
  font-weight  bold

.user-logout
  position  relative
  margin-right  10
  font-size  .9em
  z-index  20
  float  right
  *display  inline

.user-logout a
  color  white

.menu-separator
  clear  both

/** - Content -- **/
.content-list-item
  width  100%
  padding  10px
  margin-right  10px
  margin-bottom  10px

.content-list-item-draft
  border-left  solid 2px orange

.content-list-item h1
  margin-top  5px

.content-item
  .by
    font-size  .8em
    float  left
    margin-right  50px
    *display  inline
  .status
    font-size  .8em
    float  left
    margin-right  50px
    *display  inline
  .tags
    font-size  .8em
    float  left
    width  100%
  .created
    font-size  .8em
    float  left
    margin-right  50px
    *display  inline
  .content
    clear  both

.blog-list-item
  background-highlight()
  border-radius 5px
  box-shadow 5px
  width  47%
  float left
  padding  10px
  min-height 100px
  margin-right  10px
  margin-bottom  10px
  .by
    font-size  .8em
    float  left
    margin-right  50px
    *display  inline
  .status
    font-size  .8em
    float  left
    margin-right  50px
    *display  inline
  .tags
    font-size  .8em
    float  left
    width  100%
  .created
    font-size  .8em
    float  left
    margin-right  50px
    *display  inline
  .content
    clear  both


.github-list-item
  background-highlight()
  border-radius 5px
  box-shadow 5px
  width  14%
  min-height  140px
  padding  10px
  margin-right  10px
  margin-bottom  10px
  float left
  overflow hidden
  img
    float left
    border-radius 3px
    margin-right 5px
    margin-bottom 5px
  h6
    margin-top 0px
  .h1
    color #ff1200
  .h2
    color #ff6300
  .h3
    color #ffc400
  .h4
    color #a8ff57
  .h5
    color #57ffa8
  .h6
    color #00b4ff
  .h7
    color #0073ff


/** Breaking News **/
.breaking-news ul
  margin-left  0
  padding-left  0
  font-size  .8em

.breaking-news li
  margin-left  0
  list-style  none


/** Jobs **/
.job-invalid
  background-color  #EFCFCF


.job-crontime
  width  60px !important
  display  inline !important


.job-crontime-label
  width  60px !important
  display  inline !important


/** Tag Cloud **/
.tagcloud
  height  80px

.tag
  float  left
  padding  1px
  *display  inline

.tag-10
  font-size  1.8em

.tag-9
  font-size  1.7em

.tag-8
  font-size  1.5em

.tag-7
  font-size  1.4em

.tag-6
  font-size  1.3em

.tag-5
  font-size  1.1em

.tag-4
  font-size  1em

.tag-3
  font-size  .9em

.tag-2
  font-size  .8em

.tag-1
  font-size  .7em

/** Twitter **/
.tweet
  padding  5px
  margin  10px
  background  #1F1F1F
  font-size  .9em
  float  left
  width  20%
  height  120px
  *display  inline
  overflow hidden

.tweet .tweet-image
  position  relative
  left  -15px
  top  -15px

.tweet .tweet-image img
  height  30px
  -moz-box-shadow  2px 2px 5px rgba(0, 0, 0, .35)
  -webkit-box-shadow  2px 2px 5px rgba(0, 0, 0, .35)
  box-shadow  2px 2px 5px rgba(0, 0, 0, .35)

.tweet .tweet-content
  position  relative
  top  -10px
  margin-left  10px

/** -- Footer -- **/
#footer
  width  100%
  border-top  solid 1px silver
  margin-top  20px
  font-size  .9em

#footer li
  margin-left  0
  list-style  none

#footer ul
  margin-left  0
  padding-left  0

#footer div.col1
  width  31%
  float  left
  padding  10px
  *display  inline

#footer div.col2
  width  31%
  float  left
  padding  10px
  text-align  center
  *display  inline

#footer div.col3
  width  31%
  float  right
  padding  10px
  text-align  right
  *display  inline

/** HOME PAGE **/
.home-content
  font-size  1em

.home-welcome
  display  block
  width  100%
  font-size  1.4em
  line-height  1.2em
  margin-bottom  20px

.home-col1
  float  left
  width  29%
  padding  1%
  margin-left  2%
  *margin-left 1%
  margin-right  2%
  *display  inline

.home-col2
  float  left
  width  29%
  padding  1%
  margin-right  2%
  *display  inline

.home-col3
  float  left
  width  29%
  padding  1%
  *display  inline

.home-column
  background-highlight()
  border-radius  4px
  min-height  260px
  *height  260px
  ul
    margin  0 0 0 20px !important
    padding  0 !important
    li
      margin  0 !important
      padding  0 !important

.home-spacer
  clear  both
  position  relative
  top  -12px
  background  url(/images/background-border.png) no-repeat
  *background  url(/images/background-border-ie6-8bit.png) no-repeat
  background-position-x  50%
  height  28px
  width  100%

/** Flash Messages **/
#messages
  clear both
  width 98%

#messages
  ul
    width 98%
    background-highlight()
    border-radius 5px
    margin 0 0px 20px
    padding 15px 10px 15px 10px
    list-style none
    li
      margin  0 !important
      padding  0 !important

/** FORMS **/
form
  width  98%
  zoom  1
  div.form-fields
    margin  0
    padding  0
    list-style-type  none
    width  99%
    zoom  1
  div.actions
    width  auto !important
    position  relative
    text-align  right
    clear  both
    padding  10px 0% 10px 0%
    input
      font-size  100%
      margin-right  5px
      padding  5px
  div.form-field
    margin  0
    padding  5px 0 3px
    clear  both
    background-color  transparent
    position  relative
    label
      padding-right 10px
    div
      margin  0
      padding  0
      color  white
      label
        margin  0
        padding-top  3px
        clear  both
        font-size  85%
        line-height  160%
        color  white
        display  block

#user-login div.form-item div
  margin-bottom  5px !important

#user-login div.form-item
  margin-bottom  5px !important


input.text, input.file, textarea.textarea, select.select
  font-size  100%
  color  #333
  margin  0
  padding  2px 0

input.text, textarea.textarea, textarea.json
  border-top  1px solid #7c7c7c
  border-left  1px solid #c3c3c3
  border-right  1px solid #c3c3c3
  border-bottom  1px solid #ddd
  width  100%

input.crontime
  width  45px !important
  text-align  center
  padding-right  3px

input.date, input.time
  width  50px

select.select
  padding  1px 0 0

input.checkbox, input.radio
  display  inline-block
  margin  4px 0 0
  padding  0
  width  13px
  height  13px

form .description
  font-size  .7em
  color  9f9f9f

form div.section h3
  clear  both
  font-weight  normal
  font-size  110%
  line-height  135%
  margin  0 0 3px
  width  auto
  padding  12px 1% 0 0
  border-top  1px dotted #CCC
  

.search 
  background-highlight()
  padding 10px
  padding-top 5px !important
  padding-right 5px !important
  width 250px
  float right
  display inline
  margin-top -60px
  input.text
    width 170px !important
    padding 5px !important        
  .actions
    display inline
    border none
    margin 0px
    padding 0px  
    float right
    input              
      margin 0px
      padding 5px !important
      margin-left 10px !important
      font-size 0.9em
      
.facets
  width 150px
  height 100%
  float left
  margin-right 30px  
  .facet
    ul
      margin-left 0
      li        
        list-style  none       
