<div id="user-welcome-or-login">
  <%- userLogin %>
</div>
<div id="searchForm">
  <%- searchForm %>
</div>
<% if(user.anonymous) { %>

  <script>
    /**
     * don't use this, do something better using your js lib of choice.
     */

    // hide/show user login form
    (function(){
      // get user login form container dom node reference
      var userform = document.getElementById('user-login');
      // create a link to use as the show/hide toggle trigger
      var userFormToggleTrigger = document.createElement('a');
      // give the link some appropriate attributes
      userFormToggleTrigger.id = 'userFormToggleTrigger';
      userFormToggleTrigger.href = '#show_login_form';
      userFormToggleTrigger.innerHTML = 'Log In';
      // add the link to the dom
      userform.parentNode.insertBefore(userFormToggleTrigger, userform);
      // "wire it up"
      userFormToggleTrigger.onclick = function(){
        userform.style.display = userform.style.display == 'none' ? '' : 'none';
        userFormToggleTrigger.innerHTML = userform.style.display == 'none' ? 'Log In' : 'close';
        return false;
      };
      // set initial login form state to hidden
      userform.style.display = 'none';
    })();
  </script>

<% } %>
