<div class="github-content">
    <%- header%>

    <% contents.forEach(function(item) {
    %>
    <div class='github-list-item'>
          <%
            var link = '/' + item.alias + '.html'; 
            if(item.get('githubLink')) {
              link = item.get('githubLink');
            }
            var authorLink = '/user/profile/' + item.author; 
            if(item.get('githubAuthorLink')) {
              authorLink = item.get('githubAuthorLink');
            }
          %>                      
          <a class='<%- hotDate(item.updated) %>' href='<%- authorLink %>'>
          <%
            if(item.get('githubImage')) {
              %><img src='<%- item.get('githubImage') %>'/><%
            }
          %>          
          </a>
          <a class='<%- hotDate(item.updated) %>' href='<%- link %>'>
            <h6><%- item.author %> @ <br/><%- prettyDate(item.updated) %></h6>
            <div style='clear:both'></div>
            <%- item.title %>
          </a>
    </div>
    <% });  %>
    <%- pager %>
</div>