// ---------------------------------------------- //
// Name: admin-menu.css
// Author: Nate Hunzaker, from work originally 
//         by the Calipso Team
// ---------------------------------------------- //
// Table of Contents:
// ---------------------------------------------- //
// 1. Basic Construction
// 2. Tier 1
// 3. Subsequent Tiers
// 4. Bullet Proofing
// ---------------------------------------------- //

@import "compass/css3";

// 1. Basic Construction
// ------------------------------------------ //

  html {
    padding-top: 33px;
  }

  #adminMenu {
    border-bottom: 1px solid #001;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;

    background: darken(#2F5163, 15%);
    @include background( linear-gradient( rgba(47, 81, 99, 0.65), rgba(31, 53, 64, 0.45) ), url("http://subtlepatterns.com/patterns/blackmamba.png") );
    @include box-shadow(inset -3px 0 7px rgba(0,0,0,0.35), 0 3px 8px #ccc, inset 0 -1px 1px #000);
  }


// 2. Tier 1
// ------------------------------------------ //

  #admin-menu {
    list-style: none;
    margin: 0;
    padding: 0;
      
      li {
        position: relative;
        float: left;
          
          a {
            border-left: 1px solid rgba(255, 255, 255, 0.15);
            border-right: 1px solid rgba(0, 0, 0, 0.25);
            color: #fff;
            display: block;
            font-size: 14px;
            height: 20px;
            padding: 0 22px;
            line-height: 30px;
            height: 33px;
            text-decoration: none;
            text-shadow: 0 1px 2px #000;
            white-space: nowrap;

            &:hover {
              background: #333;
              background: rgba(0, 0, 0, 0.35);

              @include box-shadow(inset 0 0 4px #111);
            }
          }       
      }

      > li:last-child a {
        @include box-shadow(1px 0 0 0 rgba(255, 255, 255, 0.15));
      }
  }


// 3. Subsequent Tiers
// ------------------------------------------ //

  #admin-menu li:hover > ul {
    display: block;
  }

  #admin-menu ul {
    background: #333;
    border: 1px solid #111;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 33px;  
    left: -1px;
    z-index: 99999;
    width: 100%;

    background: darken(#2F5163, 15%);
    @include background( linear-gradient( rgba(47, 81, 99, 0.55), rgba(31, 53, 64, 0.35) ), url("http://subtlepatterns.com/patterns/blackmamba.png") );
    @include box-shadow(inset 0 0 7px rgba(0,0,0,0.35), 0 3px 8px #222, inset 0 -1px 1px #000);

    @include border-bottom-radius(5px);
  }

  #admin-menu ul ul {
    top: -2px;
    left: 100%;
    z-index: 9999;
    width: auto;
  }

  #admin-menu ul li {
    float: none;
    margin: 0;
    display: block;

    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
   
  #admin-menu ul a {
    padding: 10px;
    height: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
  }


// 4. Bullet Proofing
// ---------------------------------------------- //

  /* Clear floated elements */
  #admin-menu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  #admin-menu { *zoom: 1; } /* IE6 & IE7 */
