/* Main menu */
/* Excellent CSS from http://www.red-team-design.com/css3-dropdown-menu */

@import "compass/css3";
@import "variables.scss";

.menu.admin, .menu.admin ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu.admin {
  background: darken(#2F5163, 15%);
  border-bottom: 1px solid darken(#2F5163, 15%);
  overflow: visible;
  zoom: 1;

  @include border-radius($borderRadius);

  @include background(linear-gradient(#2F5163, darken(#2F5163, 10%)));
  ul {
    list-style: none;
    @include opacity(0);
    visibility: hidden;
    position: absolute;
    top: 100%;
    margin-left: $margin;
    background: #444;
    @include transition(opacity $transitionTime ease-in-out);

    @include background(linear-gradient(#444, #111));
    @include box-shadow(0 0 $paddingSmall rgba(255, 255, 255, 0.5));
    @include border-radius($borderRadius);

    ul {
      //for nested menus
      left: 100%;
      top: 0;
      li {
        &:first-child {
          a {
            &:after {
              left: -$paddingSmall;
              top: $em * 0.8;
              width: 0;
              height: 0;
              border-left: 0;
              border-bottom: $borderRadius solid transparent;
              border-top: $borderRadius solid transparent;
              border-right: $borderRadiusLarge solid #444;
            }

            &:hover {
              &:after {
                border-right-color: #04acec;
                border-bottom-color: transparent;
              }
            }
          }
        }
        &:last-child {
          a {
            border-right-color: #04acec;
            border-bottom-color: transparent;
          }
        }
      }
    }
    li {
      @include box-shadow(0 1px 0 #111111, 0 $paddingSmall 0 #777777);
      width: 100%;
      &:last-child {
        @include box-shadow(none);
      }
      &:hover {
        > ul {
          @include opacity(1);
          visibility: visible;
          margin: 0;
        }
      }

      &:first-child {
        a {
          @include border-top-radius($borderRadius);
          &:hover {
            &:after {
              border-bottom-color: #04acec;
            }
          }
          &:after {
            content: '';
            position: absolute;
            left: $marginLarge;
            top: -$paddingSmall;
            width: 0;
            height: 0;
            border-left: $borderRadius solid transparent;
            border-right: $borderRadius solid transparent;
            border-bottom: $borderRadiusLarge solid #444;
          }
        }
      }
    }
    a {
      padding: $paddingSmall;
      line-height: 1;
      width: 83%;
    }
  }
  li {
    @include inline-block();
    position: relative;
    @include box-shadow(1px 0 0 #444);
    border-right: 1px solid #222;
    &:hover {
      a {
        color: #fafafa;
      }
      > ul {
        display: block;
        @include opacity(1);
        visibility: visible;
        margin: 0;
      }
    }
  }
  a {
    color: #fff;
    font-size: 85%;
    @include inline-block();
    padding: $paddingSmall $paddingLarge;
    text-decoration: none;
    text-shadow: 0 1px $paddingSmall #000;

    &:hover {
      background: #0186ba;
      @include background(linear-gradient(#04acec, #0186ba));
    }
  }
  &:before, &:after {
    content: "";
    display: table;
  }
}

/*
#menu ul ul {
	top: 0;
	left: 150px;
	margin: 0 0 0 20px;
	_margin: 0; */
/*IE6 only*//*

	-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	box-shadow: -1px 0 0 rgba(255,255,255,.3);
}

#menu ul li {
	float: none;
	display: block;
	border: 0;
	_line-height: 0; */
/*IE6 only*//*

	-moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
	-webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
	box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu ul li:last-child {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#menu ul a {
	padding: 10px;
	width: 130px;
	_height: 10px; */
/*IE6 only*//*

	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

#menu ul a:hover {
	background-color: #0186ba;
	background-image: -moz-linear-gradient(#04acec,  #0186ba);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background-image: -webkit-linear-gradient(#04acec, #0186ba);
	background-image: -o-linear-gradient(#04acec, #0186ba);
	background-image: -ms-linear-gradient(#04acec, #0186ba);
	background-image: linear-gradient(#04acec, #0186ba);
}

#menu ul li:first-child > a {
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

#menu ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 40px;
	top: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #444;
}

#menu ul ul li:first-child a:after {
	left: -6px;
	top: 50%;
	margin-top: -6px;
	border-left: 0;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #3b3b3b;
}

#menu ul li:first-child a:hover:after {
	border-bottom-color: #04acec;
}

#menu ul ul li:first-child a:hover:after {
	border-right-color: #0299d3;
	border-bottom-color: transparent;
}

#menu ul li:last-child > a {
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}*/
