/* Main menu */
/* Excellent CSS from http://www.red-team-design.com/css3-dropdown-menu */

@import "compass/css3";

#admin-menu {
  background: darken(#2F5163, 15%);
  list-style: none;
  margin: 0;
  padding: 2px 0 0 0;
  width: 100%;
}

#admin-menu li {
  float: left;
  padding: 0;
  position: relative;
}
 
#admin-menu a {
  color: #fff;
  float: left;
  height: 20px;
  padding: 0 22px;
  line-height: 30px;
  height: 33px;
  text-decoration: none;
  text-shadow: 0 1px 2px #000;
}

#admin-menu li:hover > a {
  color: #fafafa;
}

*html #admin-menu li a:hover /* IE6 */ {
  color: #fafafa;
}

#admin-menu li:hover > ul {
  display: block;
}

#admin-body {
  float: right;
  width: 70%;
}
/* Sub-menu */

#admin-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 99999;
  background: #444;
  background: -moz-linear-gradient(#444, #111);
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
  background: -webkit-linear-gradient(#444, #111);
  background: -o-linear-gradient(#444, #111);
  background: -ms-linear-gradient(#444, #111);
  background: linear-gradient(#444, #111);
  -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
  -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
  box-shadow: 0 0 2px rgba(255,255,255,.5);
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#admin-menu ul ul {
  top: 0;
  left: 140px;
}

#admin-menu ul li {
  float: none;
  margin: 0;
  padding: 0;
  display: block;
  -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
  -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
  box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#admin-menu ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
 
#admin-menu ul a {
  padding: 10px;
  height: 10px;
  width: 130px;
  height: auto;
  line-height: 1;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
}

#admin-menu ul a {
  *height: 10px; /* IE6 & IE7 */
}

#admin-menu a:hover {
  background: #0186ba;
  background: -moz-linear-gradient(#04acec,  #0186ba);
  background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
  background: -webkit-linear-gradient(#04acec,  #0186ba);
  background: -o-linear-gradient(#04acec,  #0186ba);
  background: -ms-linear-gradient(#04acec,  #0186ba);
  background: linear-gradient(#04acec,  #0186ba);
}
 
#admin-menu ul li:first-child > a {
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

#admin-menu ul li:first-child > a:after {
  content: '';
  position: absolute;
  left: 30px;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #444;
}

#admin-menu ul ul li:first-child a:after {
  left: -8px;
  top: 12px;
  width: 0;
  height: 0;
  border-left: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 8px solid #444;
}
 
#admin-menu ul li:first-child a:hover:after {
  border-bottom-color: #04acec;
}

#admin-menu ul ul li:first-child a:hover:after {
  border-right-color: #04acec;
  border-bottom-color: transparent;
}


#admin-menu ul li:last-child > a {
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#admin-menu:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#admin-menu { *zoom: 1; } /* IE6 & IE7 */
