#form-section-modules .fieldset-fields {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

#form-section-modules .description {
  padding-left: 20px;
  color: grey;
}


#form-section-modules legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}
#form-section-modules .checkable {
  margin-left:0;
}

.admin-dashboard-col1 {
  float: left;
  width: 45%;
  display: inline;
  border: solid 1px silver;
}

.admin-dashboard-col2 {
  display: inline;
  float: right;
  width:45%;
  border: solid 1px silver;  
}

.admin-dashboard-clear {
  clear: both;
  height: 15px;
}

table {margin:10px 0pt 15px;font-size:8pt;width:100%;text-align:left;}
table thead tr th,table tfoot tr th {background-color:silver;border:1px solid silver;font-size:8pt;padding:4px;}
table thead tr .sortable {background-image:url(../images/sort.gif); background-repeat:no-repeat;background-position:center right;cursor:pointer;}
table tbody td {padding:4px;vertical-align:top;}
table thead tr .sorted-asc {background-image:url(../images/asc.gif);background-repeat:no-repeat;background-position:center right;cursor:pointer;}
table thead tr .sorted-desc {background-image:url(../images/desc.gif);background-repeat:no-repeat;background-position:center right;cursor:pointer;}
table thead tr .sorted-asc, table thead tr .sorted-desc {background-color:#8dbdd8;}

a.pager-page {
  padding: 3px;
  border: solid 1px silver;
}
span.pager-page {
  padding: 3px;
  background: silver;
}
.tabular {
	clear: both;
}
