/*--- Reset ---*/
* { margin: 0; padding: 0; }

html, body {    
    min-height: 100%;       
}

/*--- Layout ---*/
body {	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.2em;
	color: #ffffff;		
	background: #444444 url(/images/background.jpg) repeat;
}

#container {
	position: relative;
	padding: 10px 10%;
	top: 25px;
}

#header {
    position: relative;
    padding-bottom: 10px;    
    border-bottom: solid 1px silver;
    margin-bottom: 20px;    
}

#content {
  float: left; 
  width: 80%;
}

#right {
  float: right; 
  width: 150;
}

#right div {
  margin-bottom: 25px;
}



/*--- Basics ---*/
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	color:#FFF;
	line-height: 1;
	margin: 0.5em 0 0.5em 0;
}

#header h1 {
	font-family: 'Oswald', arial, serif;
    font-size: 57px !important;    
    font-weight: 400;
    text-shadow: 2px 2px 2px #000;
    letter-spacing: 0.1em;
    word-spacing: 0em;
    line-height: 1.2;
}
    
h1 { 		
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px #000;
    font-weight: bold;
}
h2, h5 {
	font-family: 'Oswald', arial, serif !important;
	font-size: 1.3em; color: #DD9;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 0.05em;
    font-weight: bold;
}
h3, h6 { font-family: 'Oswald', arial, serif !important;
    font-size: 1.2em; color: #DDA; }
h4 { font-size: 1.1em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }
p { margin-bottom: 1em; }
strong { font-weight: bold; }
em { font-style: italic; }
a { text-decoration: none; color: #FFFFDF; }
a, h1 a, h2 a { text-decoration: none; }
a:hover { text-decoration: underline; color: #DFDFAF; }
a img { border: none; }

/*--- Lists ---*/
li ul, li ol { margin: 0; }
ul, ol { margin: 0 0 1em 2.75em; }
dt, dd {
	font-style: italic;
	margin: .5em 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 1em;
}
/*--- Header ---*/
#header h1 {
	margin: .1em 0;
	font-size: 2.2em;
}
#header h2 {
	width: 70%;
	margin: .5em .5em 2em 0;
	color: #F3F3F3;
	font-size: 1.3em;
	line-height: 22px;
}

/*--- Tables ---*/
table {
	clear: both;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #161606;
	background: #eaeafa;
	margin: 12px 0;
}
td, th {
	padding: .25em 1em;
	vertical-align: middle;
	text-align: left;
	border: 1px solid #161606;
	font-weight: normal;
	color: #ffffff;
	font-size: 0.85em;
	background: #333;
}

table tr {
	
}

table.tabular tr:nth-child(even) {
    background: #553;
}

tfoot td {
	background: #d3d3f3;
	color: #333;
	text-align: left;	
	padding: 1em 0.5em;
	font-size: 0.7em;
}

th {
	border: 1px solid #161606;
	background: #A3a383;
	color: #333;
	text-align: left;
	font-weight: bold;
	padding: .5em .75em;
}
/*--- Forms ---*/
form {
	display: block;
	clear: both;		
}
fieldset {
	padding: 2em;
	margin: 0 0 1em 0;
	border: 1px solid #a6a6a6;
	background: #f3f3f3;
}
legend {
	padding: .5em 1em;
	border: 1px solid #a6a6a6;
	background: #fff;
	font-size: 22px;
}
label {
	padding: 0 1em 0 0;
	color: #D5D5D5;
	font-weight: normal;
	font-size: 0.9em;
}
input[type=text],[type=password], textarea {
	font-family: Helvetica, Arial, sans-serif;	
	border: 1px solid #a6a6a6;
	color: #454545;
	font-size: 0.9em;
	line-height: 1em;
}
input[type=text], input[type=password], textarea {
	clear: both;
	display: block;
	padding: .25em .5em;
}
input[type=text], input[type=password], textarea {
	width: 97%;
	max-width: 950px;
	margin: .2em 0 1em 0;
	padding:.2em;
}
select {
	clear: both;
	display: block;
	margin: .5em 0 1em 0;
}
div.checkbox {
	clear: both;
	padding: 1em 0;
}
.checkbox label {
	display: inline;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
	border-color: #00a8e6;
	outline: none;
}

/*--- Misc ---*/
hr {
	border: none;
	height: 0;
	border-bottom: 1px solid #e6e6e6;
	margin:1em 0;
}
sup, sub {
	color: #666;
	font-size: .65em;
}
acronym {
	font-weight: bold;
	font-style: italic;
	color: #333;
}
abbr {
	color: #333;
}

blockquote {
	padding: 0.15em .5em;
	margin: 0.5em 0;
	font-size: 1em;
	color: #666;	
	display: block;
	font-style: italic;
}

blockquote:before, blockquote:after {
	display: inline;
	color: #e5e5e5;
	font-size: 3em;
	position: relative;
	top: 0.25em;
	left: -0.1em;
}

blockquote:before {
	content: '\D \201C';
}


span.pager-page {
	font-family: Helvetica, Arial, sans-serif;
	padding: 3px 3px;
	margin: 3px 3px 3px 3px;
	color: #F5F5D5;	
	line-height: 1.25em;	
}

input.pager-page {
	display: inline !important; 
	width: 30px;
	font-family: Helvetica, Arial, sans-serif;
	padding: 2px 2px;
	margin: 3px 3px 3px 3px;
	color: #F5F5D5;	
	line-height: 1.25em;	
	clear: none;
}

a.pager-page {
	font-family: Helvetica, Arial, sans-serif;
	padding: 3px 3px;
	margin: 3px 3px 3px 3px;	
	border: 1px solid #a6a6c6;
	color: #D5D5D5;	
	line-height: 1.25em;	
}

blockquote:after {
	content: '\201D';
}

pre.code {
	padding: 10px;
	color: black;
	font-size: 0.8em;
	font-family: courier;
	background-color: #F5F5F5;        
    margin: 20px;		
}

/*--- Shadows ---*/
pre.code {
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.4);
	box-shadow: 0 0 3px rgba(0,0,0,.4);	
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table, form {
	margin-top: 0px;
	margin-bottom: 12px;
}
table, pre > code, .shadow {
	-moz-box-shadow: 2px 2px 12px rgba(0,0,0,.15);
	-webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 12px rgba(0,0,0,.15);
}
img.shadow {
	border: 1px solid rgba(255,255,255,.15);
}

input[type=text],input[type=password], textarea {
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.2);
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}


/** --- Block **/
.pager {
	clear:both;
	display: block;
}

/* -- Content --*/
.content-list-item {
    width: 100%;    
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.content-list-item-draft {
    border-left: solid 2px orange;    
}

.content-list-item h1 {
    margin-top: 5px;   
}

.content-item {
    
}

/** -- Menus **/
.admin-primary-menu {    
    background-color: #7474C4;
    color: black;
    position: absolute;
    left: 10;
    top: 0;
    line-height: 1.5em;    
    width: 98%;
    font-size: 1em;    
    padding-left: 5px;    
}

.admin-primary-menu .admin-menu-item {    
    color: white;
    padding: 3px;
    margin-right: 10px;    
}

.admin-primary-menu .admin-menu-item-selected {    
    color: white;
    font-weight: bold;    
    padding: 3px;
    margin-right: 10px;        
}

.admin-secondary-menu {    
    padding-left: 5px;
    font-size: 1em;
    position: absolute;
    left: 10;
    line-height: 1.5em;
    top: 19;
    width: 98%;
    background-color: #A4A4A4;
    color: white;
    -moz-box-shadow: 2px 2px 12px rgba(0,0,0,.35);
    -webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.35);
    box-shadow: 2px 2px 12px rgba(0,0,0,.35);    
}

.admin-secondary-menu .admin-menu-item {    
    color: white;
    padding: 3px;
    margin-right: 10px;        
}

.primary-menu ul {
    margin-left: 0;
    padding-left: 0;
    font-size: 0.8em;
}

.primary-menu li {
    margin-left: 0;
    list-style: none;    
}

.primary-menu {        
    position: relative;
    font-size: 1.1em;    
    margin-bottom: 10px;    
}

.primary-menu .primary-menu-item {    
    color:  #343434;
    padding: 3px;
    margin-right: 10px;    
}

.primary-menu .primary-menu-item-selected {    
    color: blue;
    font-weight: bold;    
    padding: 3px;
    margin-right: 10px;        
}


.user-logout {
	position: relative;    
    margin-right: 10; 
    font-size: 0.9em;
    z-index: 20;
    float: right;    
}
.user-logout a {
    color: white;
}

.menu-separator {
    clear: both;
}

/** - Content -- **/

.content-item {
    	
}

.content-item .by {
	font-size: 0.8em;
	float: left; 
	margin-right: 50px;
}

.content-item .status {
    font-size: 0.8em;
    float: left;
    margin-right: 50px;
}

.content-item .tags {
    font-size: 0.8em;
    float: left;
    width: 100%;
}

.content-item .created {
    font-size: 0.8em;
    float: left;
    margin-right: 50px;
}

.content-item .content {
    clear:both;
}

.breaking-news ul {
	margin-left: 0;
    padding-left: 0;
    font-size: 0.8em;
}

.breaking-news li {
	margin-left: 0;
    list-style: none;    
}

.job-invalid {
	background-color: #EFCFCF;
}

.job-crontime {
    width: 60px !important;
    display: inline !important;
}


.job-crontime-label {
    width: 60px !important;
    display: inline !important;
}


/** Tag Cloud **/
.tag {
    display: inline;
    float: left;
    padding: 1px;
}

.tag-10 {
    font-size: 1.8em;    
}
.tag-9 {
    font-size: 1.7em;    
}
.tag-8 {
    font-size: 1.5em;    
}
.tag-7 {
    font-size: 1.4em;    
}
.tag-6 {
    font-size: 1.3em;    
}
.tag-5 {
    font-size: 1.1em;    
}
.tag-4 {
    font-size: 1em;    
}
.tag-3 {
    font-size: 0.9em;    
}
.tag-2 {
    font-size: 0.8em;    
}
.tag-1 {
    font-size: 0.7em;    
}


/** Twitter **/
.tweet {
	padding: 5px;
	margin: 10px;
	background: #1F1F1F;
	font-size: 0.9em;
    float: left;
    width: 20%;
    height: 120px;    
}

.tweet .tweet-image {    
    position:relative;
    left: -15;
    top: -15;	
}

.tweet .tweet-image img {         
    height: 30px; 
     -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.35);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.35);
    box-shadow: 2px 2px 5px rgba(0,0,0,.35);    
}

.tweet .tweet-content {
	position: relative;
	top: -10;
	margin-left: 10;
}


/** -- Footer -- **/


#footer {
	width: 100%;
    border-top: solid 1px silver;
    margin-top: 20px;
    font-size: 0.9em;   
}

#footer li {
	margin-left: 0;
    list-style: none;    
}

#footer ul {
    margin-left: 0;
    padding-left: 0;    
}   

#footer div.col1 {
    width: 31%;
    float: left;
    padding: 10px;    
}

#footer div.col2 {
    width: 31%;
    float: left;
    padding: 10px;
    text-align: center;
}

#footer div.col3 {
    width: 31%;
    float: right;
    padding: 10px;
    text-align: right;
}