<h1>Edit Content Type</h1>
<form method="<%- item.method %>" action="<%- item.action %>" >
<%           
        item.fields.forEach(function(field){
        
            %><label><%- field.label %></label><%
                        
            switch(field.type) {
                    case "textarea": %>
                            <textarea rows=10 name="<%- field.name %>"><%- field.value %></textarea>     
                    <% 
                        break;
                    case "select": %>
                            <select name="<%- field.name %>">
                            <%
                                field.options.forEach(function(option) {
                                
                                    %><option <%- field.value === option ? "SELECTED" :"" %>><%-option%></option><%                                    
                                });
                            %>
                            </select>                        
                    <%                        
                        break;
                    default: %>                                         
                           <input type="<%- field.type %>" hidden="<%- field.hidden %>" value="<%- field.value %>" name="<%- field.name %>"/>
                <%      
                }
        });
%>
<input type="submit" value="Submit" />
</form>