<div class="template-module">
    <h2>Scheduled Jobs</h2>
    <table>
    <tr>
        <th>Job</th><th>Schedule</th><th>Enabled</th><th>Module</th><th>Method</th><th>&nbsp;</th>
    </tr>
        
    <%                
        var jobs = false;
        for(var job in item.meta.jobs) {
            jobs = true;                             
         %>
         <tr class='<%= item.meta.jobs[job].invalid ? "job-invalid" : ""%>'>
        <td><a href='/scheduler/show/<%- item.meta.jobs[job].jobName %>'><%- item.meta.jobs[job].jobName %></a></td>
        <td> <%- item.meta.jobs[job].cronTimeString %></td>
        <% if(item.meta.jobs[job].enabled) { %>
        <td><a href="/scheduler/switch/off/<%- item.meta.jobs[job].jobName %>" title="Switch job on ..."><%- item.meta.jobs[job].enabled %></a></td>
        <% } else { %>
        <td><a href="/scheduler/switch/on/<%- item.meta.jobs[job].jobName %>" title="Switch job on ..."><%- item.meta.jobs[job].enabled %></a></td>
        <% } %>
        <td> <%- item.meta.jobs[job].module %></td>
        <td> <%- item.meta.jobs[job].method %></td>
        <td></td>
        </tr>                                
        <%
        }
        
        if(!jobs) {
            %><td colspan='6'>No jobs defined</td><%
        }
    %>
    </table>      
</div>