<div class='job'>
    <h1><%- item.meta.name %></h1>
    <table>
        <tr>
            <th><%- t('Name') %></th>
            <td><%- item.meta.name %></td>
        </tr>
        <tr>
            <th><%- t('CRON Time') %></th>
            <td><%- item.meta.cronTime %></td>
        </tr>
        <tr>
            <th><%- t('Enabled') %></th>
            <td><%- item.meta.enabled ? "Yes" : "No" %></td>
        </tr>
        <tr>
            <th><%- t('Module') %></th>
            <td><%- item.meta.module %></td>
        </tr>
        <tr>
            <th><%- t('Method') %></th>
            <td><%- item.meta.method %></td>
        </tr>
        <tr>
            <th><%- t('Args') %></th>
            <td><%- item.meta.args %></td>
        </tr>
    </table>
</div>
