<div class='job'>
  <h1><%- item.meta.name %></h1>
  <table>
    <tr>
      <th>Name</th>
      <td><%- item.meta.name %></td>
    </tr>
    <tr>
      <th>CRON Time</th>
      <td><%- item.meta.cronTime %></td>
    </tr>
    <tr>
      <th>Enabled</th>
      <td><%- item.meta.enabled ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <th>Module</th>
      <td><%- item.meta.module %></td>
    </tr>
    <tr>
      <th>Method</th>
      <td><%- item.meta.method %></td>
    </tr>
    <tr>
      <th>Args</th>
      <td><%- item.meta.args %></td>
    </tr>
  </table>
</div>
