<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "utf-8">
	<meta name = "description" content = "put your site description here">
	<meta name = "keywords" content = "put your site keywords here">
	<title>Clean Slate</title>

	<%- styles %>
	<%- scripts %>
</head>
<body>
<nav class = "adminMenu row extended-height">
	<%- admin %>
</nav>
<div class = "container">
	<header class = "row extended-height">
		<div class = "logo threecol">
			<%- header %>
		</div>

		<nav class = "secondary ninecol last">
			<%- secondary %>
		</nav>
	</header>
	<div id = "messages" class = "row">
		<%- messages %>
	</div>
	<nav class = "adminToolbar">
		<%- getMenu('adminToolbar') %>
	</nav>
	<article class = "row">
		<div class = "body ninecol">
			<!--PAGE_BODY_START-->
			<%- body %>
			<!--PAGE_BODY_END-->
		</div>
		<aside class = "sidePanel threecol last">
			<%- sidePanel %>
		</aside>
	</article>
	<footer class = "footer row centred">
		<%- footer %>
	</footer>
</div>
</body>
</html>
