<div id="user.login">
<%
if(user.anonymous) { %>    
<h2><%= item.title %></h2>
<form method="<%- item.method %>" action="<%- item.action %>" >
<%           
        item.fields.forEach(function(field){
        
            %><label><%= field.label %></label><%
                        
            switch(field.type) {
                    case "textarea": %>
                            <textarea rows=20 name="<%- field.name %>"><%- field.value %></textarea>     
                    <% 
                        break;
                    case "select": %>
                            <select value="<%- field.value %>" name="<%- field.name %>">
                            <%
                                field.options.forEach(function(option) {
                                
                                    %><option><%-option%></option><%                                    
                                });
                            %>
                            </select>                        
                    <%                        
                        break;
                    default: %>                                         
                           <input type="<%- field.type %>" hidden="<%- field.hidden %>" value="<%- field.value %>" name="<%- field.name %>"/>
                <%      
                }
        });
%>
<input type="submit" value="Submit" />
</form>
<% }  else { %>
 
            <h2>User Profile</h2>
            <% if(user) { %>
                  <a href="/user"><%- user.username %></a>&nbsp;|&nbsp;
                  <a href="/user/logout">Logout</a>
            <% } %>
 
<% } %>
</div>