<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Calipso is a NodeJS Content Management System (CMS) based on Express and Mongoose.  Fast, asynchronous, dynamic and social.">
    <meta name="keywords" content="calipso nodejs cms content management system asynchronous express mongoose dynamic social">
    <title>Calipso - A NodeJS CMS</title>
    <%- scripts %>
  </head>
  <body>
    <div id="adminMenu">
      <%- admin %>
    </div>
    <div id="container">
      <div id="header">
        <%- header %>
      </div>
      <div id="messages">
        <%- messages %>
      </div>
        <% if(user.isAdmin) { %>
        <div id="adminToolbar">
          <%- getMenu('adminToolbar') %>
        </div>
      <% } %>
      <div id="body">
        <%- body %>
      </div>
      <div id="right">
        <div id="menu">
          <%- primary %>
        </div>
        <%- right %>
      </div>
      <div style="clear:both"></div>
      <div id="footer">
        <%- footer %>
      </div>
    </div>
  </body>
</html>
