<div class="home-content">
  <div class="home-welcome">
    <%- welcome %>
  </div>
  <div class="home-column home-col1">
    <%- about %>
  </div>
  <div class="home-column home-col2">
    <%- quickstart %>
  </div>
  <div class="home-column home-col3">
    <%- guide %>
  </div>
  
  <div class="home-spacer"></div>
  
  <div class="home-column home-col1">
    <%- featurea %>
  </div>
  <div class="home-column home-col2">
    <%- featureb %>
  </div>
  <div class="home-column home-col3">
    <%- featurec %>
  </div>
</div>