<script type="text/javascript" src="/js/aloha/aloha.js"></script>
<script type="text/javascript" src="/js/aloha/plugins/com.gentics.aloha.plugins.Format/plugin.js"></script>
<script type="text/javascript" src="/js/aloha/plugins/com.gentics.aloha.plugins.Table/plugin.js"></script>
<script type="text/javascript" src="/js/aloha/plugins/com.gentics.aloha.plugins.List/plugin.js"></script>
<!-- markItUp! skin -->
<script type="text/javascript">
$(document).ready(function()  {

  // Add aloha to your textarea in one line
  $('textarea.textarea').aloha();

});
</script>