@import "compass/css3";
@import "../../../../../themes/core/cleanslate/public/sass/../../../../../themes/core/cleanslate/public/sass/partials/../../../../../themes/core/cleanslate/public/sass/partials/_variables";

//@import '../../../../themes/core/cleanslate/public/sass/_variables.scss';

.aloha {
  ol, ul {
    list-style: none;
  }
}

.aloha-sidebar-bar {
  z-index: 999999999;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid $borderColour;
  @include box-shadow(0 0 $paddingSmall rgba(0, 0, 0, 0.5));

  &.aloha-sidebar-right {
    left: auto;
    right: 0;
    border-right-width: 0;
    border-left: 1px solid #888888;
  }
}

.aloha-sidebar-inner {
  position: relative;
  background-color: #cccccc;
  @include background-image(radial-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.3) 100%));
}

.aloha-sidebar-panels {
  padding: $padding 0;
  li {
    overflow: hidden;
    padding: 0 $padding;
  }
}

.aloha-sidebar-panel-top, .aloha-sidebar-panel-content.aloha-sidebar-panel-bottom {
  @include border-radius($borderRadius);
}

.aloha-metaview p {
  background-image: url(../plugins/extra/metaview/img/p.png)
}

.aloha-metaview pre {
  background-image: url(../plugins/extra/metaview/img/pre.png)
}

.aloha-metaview h1 {
  background-image: url(../plugins/extra/metaview/img/h1.png)
}

.aloha-metaview h2 {
  background-image: url(../plugins/extra/metaview/img/h2.png)
}

.aloha-metaview h3 {
  background-image: url(../plugins/extra/metaview/img/h3.png)
}

.aloha-metaview h4 {
  background-image: url(../plugins/extra/metaview/img/h4.png)
}

.aloha-metaview h5 {
  background-image: url(../plugins/extra/metaview/img/h5.png)
}

.aloha-metaview h6 {
  background-image: url(../plugins/extra/metaview/img/h6.png)
}

.aloha-metaview blockquote {
  background-image: url(../plugins/extra/metaview/img/blockquote.png)
}

.aloha-metaview div {
  background-image: url(../plugins/extra/metaview/img/div.png)
}

.aloha-metaview dl {
  background-image: url(../plugins/extra/metaview/img/dl.png)
}

.aloha-metaview dt {
  background-image: url(../plugins/extra/metaview/img/dt.png)
}

.aloha-metaview dd {
  background-image: url(../plugins/extra/metaview/img/dd.png)
}

.aloha-metaview td {
  background-image: url(../plugins/extra/metaview/img/td.png)
}

.aloha-metaview th {
  background-image: url(../plugins/extra/metaview/img/th.png)
}

.aloha-metaview table {
  background-image: url(../plugins/extra/metaview/img/table.png)
}

.aloha-metaview caption {
  background-image: url(../plugins/extra/metaview/img/caption.png)
}

.aloha-metaview hr {
  background-image: url(../plugins/extra/metaview/img/hr.png)
}

.aloha-metaview abbr[title], .aloha-metaview dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

.aloha-metaview [lang] {
  background-image: url(../plugins/extra/wai-lang/img/button.png);
  padding-left: 20px;
  border: 1px dotted #ddd;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: left center
}

.aloha-metaview q {
  background-image: url(../plugins/extra/metaview/img/icon_cite.png);
  padding-left: 20px;
  border: 1px dotted #ddd;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: left center
}