<div class='admin-page'>
    <h2>Administration</h2>
    <form action='/admin/save' method='POST'>
    <label>Theme</label>
        <select name="config[theme]">
      <%
        themes.forEach(function(theme) { %>
        <option value='<%-theme.name %>' <%= theme.selected ? "SELECTED" : "" %>/><%-theme.name%><br/>                 
    <%
        });
    %>    
    </select>
    <label>Cache</label><input name='config[cache]' type='text' value='<%- item.meta.cache %>'/>
    
    <label>Logs</label>    
    
    <br/>Level: <select style='display: inline' name="config[logslevel]">
      <%
        for(var level in loglevels) { %>
            <option value='<%-level %>' <%= item.meta.logs.level === level ? "SELECTED" : "" %>/><%-level%><br/>                 
    <%
        }
    %>    
    </select><br/>
    <input type='checkbox' name='config[logsconsoleenabled]' <%= item.meta.logs.console.enabled ? "checked" : "unchecked" %>/>Console Log<br/>
    <input type='checkbox' name='config[logsfileenabled]' <%= item.meta.logs.file.enabled ? "checked" : "unchecked" %>/>File Log<br/>
    Path: <input  style='display: inline' type='text' name='config[logsfilefilepath]' style='width: 80% !important;' value='<%= item.meta.logs.file.filepath%>'/>                 
    
    <label>Modules</label><br/>
    <%        
        for(var module in modules) {                     
         %>
              <input type='checkbox' name='config[modules][<%-module%>]' <%= modules[module].enabled ? "checked" : "unchecked" %>/><%-module%><br/>                 
    <%
        }
    %>    
    <input type='submit'/>
    </form>
</div>