#form-section-modules .fieldset-fields {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

#form-section-modules .description {
  padding-left: 20px;
  color: grey;
}


#form-section-modules legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}
#form-section-modules .checkable {
  margin-left:0;
}

.admin-dashboard-col1 {
  float: left;
  width: 45%;
  display: inline;
  border: solid 1px silver;
}

.admin-dashboard-col2 {
  display: inline;
  float: right;
  width:45%;
  border: solid 1px silver;  
}

.admin-dashboard-clear {
  clear: both;
  height: 15px;
}

