#adminMenu {
  width: 100%;
  overflow: hidden;
  font-size: 11px;
  line-height: 18px;
  padding-bottom: 10px;
}
.admin-primary-menu {
  height:18px;
  background-color: #000;
}

.admin-secondary-menu {
  height:18px;
  background: #555;
  color: white;
  -moz-box-shadow: 2px 2px 12px rgba(0,0,0,.35);
  -webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.35);
  box-shadow: 2px 2px 12px rgba(0,0,0,.35);
}

a.admin-menu-item,
a.admin-menu-item-selected {
  color: white;
  text-decoration: none;
  padding: 3px;
  margin-left: 10px;
}

.admin-primary-menu .admin-menu-item-selected {
  font-weight: bold;
}


#form-section-modules .fieldset-fields {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}
#form-section-modules legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}
#form-section-modules .checkable {
  margin-left:0;
}
