<div class="sample-content-module">
  
  <p>Form elements are first up, so the output doesn't get lost</p>
  
  <div class="post-43 post type-post status-publish format-standard hentry category-uncategorized tag-boat tag-lake post" id="post-19"><!-- post div -->
    <h2 class="title"><a href="#43" title="Permalink to Forms Forms Forms">Forms Forms Forms</a></h2>
    <div class="post-info-top">
      <span class="post-info-date">
        Posted by Theme Admin        on <a href="#43" title="8:18 pm" rel="bookmark">November 17, 2009</a>
      </span>
      <span id="gotocomments"><span>Comments Off</span></span>
    </div>
    <div class="clear"></div>
    <div class="entry">
      <a href="#43" title="Forms Forms Forms"></a>
      
      <form>
        <fieldset>
          <legend>Legend</legend>
          <p>We don't use fieldsets with legends because legends incur style
          restrictions. The fieldset and legend are presented here for completeness,
          and because some community or user module might use them.</p>
        </fieldset>
      </form>
      
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.</p>
      
      <!-- ============= THE FORM OUTPUT =============== -->
      
      
      
      <%- form %>
      
      
      
      
      <!-- ============= END FORM OUTPUT =============== -->
      
      <p><small><a href="#wrapper">[top]</a></small></p>
      <hr>
    </div>
  </div>
  <div class="post-36 post type-post status-publish format-standard hentry category-uncategorized tag-boat tag-lake post" id="post-19"><!-- post div -->
    <h2 class="title"><a href="#36" title="Permalink to Worth A Thousand Words">Worth A Thousand Words</a></h2>
    <div class="post-info-top">
      <span class="post-info-date">
        Posted by Theme Admin        on <a href="#19" title="4:33 am" rel="bookmark">October 17, 2008</a>
      </span>
      <span id="gotocomments"><span>Comments Off</span></span>
    </div>
    <div class="clear"></div>
    <div class="entry">
      <a href="#19" title="Worth A Thousand Words"></a>
      <div class="cl-caption alignnone">
        <img alt="Speed Boat" src="/images/speed-boat_725x544.jpg" title="Speed Boat" width="725" height="544">
        <p class="cl-caption-text">Speed Boat</p>
      </div>
      <p>Speed Boat.</p>
    </div><!-- end: .entry -->
  </div><!-- end: .post -->
  
  <div class="post-19 post type-post status-publish format-standard hentry category-uncategorized post" id="post-36"><!-- post div -->
    <h2 class="title"><a href="#19" title="Permalink to Elements">Elements</a></h2>
    <div class="post-info-top">
      <span class="post-info-date">
        Posted by Theme Admin        on <a href="#36" title="7:39 pm" rel="bookmark">September 5, 2008</a>
      </span>
      <span id="gotocomments"><span>Comments Off</span></span>
    </div>
    <div class="clear"></div>
    <div class="entry">
      <a href="#36" title="Elements"></a>
      <p><!-- Sample Content to Plugin to Template --></p>
      <p>The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site.</p>
      <hr>
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
      <p><small><a href="#wrapper">[top]</a></small></p>
      <hr>
      <h2 id="paragraph">Paragraph</h2>
      <p>Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
      <p>Lorem ipsum dolor sit amet, <em>emphasis</em> consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
      <p><small><a href="#wrapper">[top]</a></small></p>
      <hr>
      <h2 id="list_types">List Types</h2>
      <h3>Definition List</h3>
      <dl>
        <dt>Definition List Title</dt>
        <dd>This is a definition list division.</dd>
      </dl>
      <h3>Ordered List</h3>
      <ol>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3</li>
      </ol>
      <h3>Unordered List</h3>
      <ul>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3</li>
      </ul>
      <p><small><a href="#wrapper">[top]</a></small></p>
      <hr>
      <h2 id="tables">Tables</h2>
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Table Header 1</th>
            <th>Table Header 2</th>
            <th>Table Header 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Division 1</td>
            <td>Division 2</td>
            <td>Division 3</td>
          </tr>
          <tr class="even">
            <td>Division 1</td>
            <td>Division 2</td>
            <td>Division 3</td>
          </tr>
          <tr>
            <td>Division 1</td>
            <td>Division 2</td>
            <td>Division 3</td>
          </tr>
        </tbody>
      </table>
      <p><small><a href="#wrapper">[top]</a></small></p>
      
      <hr>
      
      <h2 id="misc">Misc Stuff &mdash; abbr, acronym, pre, code, sub, sup, etc.</h2>
      <p>Lorem <sup>superscript</sup> dolor <sub>subscript</sub> amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. <cite>cite</cite>. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. <acronym title="National Basketball Association">NBA</acronym> Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.  <abbr title="Avenue">AVE</abbr></p>
      <pre>
      
      Lorem ipsum dolor sit amet,
       consectetuer adipiscing elit.
       Nullam dignissim convallis est.
       Quisque aliquam. Donec faucibus.
      Nunc iaculis suscipit dui.
      Nam sit amet sem.
      Aliquam libero nisi, imperdiet at,
       tincidunt nec, gravida vehicula,
       nisl.
      Praesent mattis, massa quis
      luctus fermentum, turpis mi
      volutpat justo, eu volutpat
      enim diam eget metus.
      Maecenas ornare tortor.
      Donec sed tellus eget sapien
       fringilla nonummy.
      <acronym title="National Basketball Association">NBA</acronym>
      Mauris a ante. Suspendisse
       quam sem, consequat at,
      commodo vitae, feugiat in,
      nunc. Morbi imperdiet augue
       quis tellus.
      <abbr title="Avenue">AVE</abbr>
      </pre>
      <blockquote><p>
        &ldquo;This stylesheet is going to help so freaking much.&rdquo; <br>-Blockquote
      </p></blockquote>
      <p><small><a href="#wrapper">[top]</a></small><br>
      <!-- End of Sample Content --></p>
    </div><!-- end: .entry -->
  </div><!-- end: .post -->
  
  <div class="post-14 post type-post status-publish format-standard hentry category-uncategorized post" id="post-14"><!-- post div -->
    <h2 class="title"><a href="#14" title="Permalink to More Tags">More Tags</a></h2>
    <div class="post-info-top">
      <span class="post-info-date">
        Posted by Theme Admin        on <a href="#14" title="12:09 am" rel="bookmark">June 21, 2008</a>
      </span>
      <span id="gotocomments"><a href="#14#respond" title="Comment on More Tags">None comments</a></span>
    </div>
    <div class="clear"></div>
    <div class="entry">
      <a href="#14" title="More Tags"></a>
      <p>More of these posts need tags.</p>
    </div><!-- end: .entry -->
  </div><!-- end: .post -->
  
  <div class="post-8 post type-post status-publish format-standard hentry category-uncategorized tag-html post" id="post-8"><!-- post div -->
    <h2 class="title"><a href="#8" title="Permalink to HTML">HTML</a></h2>
    <div class="post-info-top">
      <span class="post-info-date">
        Posted by Theme Admin        on <a href="#8" title="12:04 am" rel="bookmark">June 21, 2008</a>
      </span>
      <span id="gotocomments"><a href="#8#comments" title="Comment on HTML">1 comments</a></span>
    </div>
    <div class="clear"></div>
    <div class="entry">
      <a href="#8" title="HTML"></a>
      <p>What HTML tags would you like to see?</p>
      <p>Let's start with an unordered list:</p>
      <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
        <li>Four</li>
      </ul>
      <p>And then move on to a more interesting ordered list:</p>
      <ol>
        <li>one, two
        <ol>
          <li>buckle my shoe</li>
        </ol>
        </li>
        <li>three, four
          <ol>
            <li>knock at the door</li>
          </ol>
        </li>
        <li>Five, six
          <ol>
            <li>pick up sticks</li>
          </ol>
        </li>
        <li>Seven, eight, lay them straight
          <ol>
            <li>Nine, ten, a big fat hen</li>
            <li>Eleven, twelve, dig and delve</li>
            <li>Thirteen, fourteen, maids a-courting</li>
            <li>Fifteen, sixteen, maids in the kitchen</li>
            <li>Seventeen, eighteen, maids a-waiting</li>
            <li>Nineteen, twenty, my platter's empty</li>
          </ol>
        </li>
      </ol>
    </div><!-- end: .entry -->
  </div><!-- end: .post -->
  
  <div class="post-6 post type-post status-publish format-standard hentry category-uncategorized post" id="post-6"><!-- post div -->
    <h2 class="title"><a href="#6" title="Permalink to Links">Links</a></h2>
    <div class="post-info-top">
      <span class="post-info-date">
        Posted by Theme Admin        on <a href="#6" title="8:06 pm" rel="bookmark">June 20, 2008</a>
      </span>
      <span id="gotocomments"><span>Comments Off</span></span>
    </div>
    <div class="clear"></div>
    <div class="entry">
      <a href="#6" title="Links"></a>
      <p>A few well known links: <a href="http://calip.so/">Calipso</a>, <a href="http://calip.so/section/blog">The Calipso Blog</a> and <a href="http://calip.so/quickstart-install-calipso.html">The Quick Start Page</a>.</p>
    </div><!-- end: .entry -->
  </div><!-- end: .post -->
  
  <div class="post-4 post type-post status-publish format-standard hentry category-first-child-category category-one-grandchild-category category-parent category-second-child-category post" id="post-4"><!-- post div -->
    <h2 class="title"><a href="#4" title="Permalink to Category Hierarchy">Category Hierarchy</a></h2>
    <div class="post-info-top">
      <span class="post-info-date">
        Posted by Theme Admin        on <a href="#4" title="7:59 pm" rel="bookmark">June 20, 2008</a>
      </span>
      <span id="gotocomments"><span>Comments Off</span></span>
    </div>
    <div class="clear"></div>
    <div class="entry">
      <a href="#4" title="Category Hierarchy"></a>
      <p>This post has 4 categories, part of a hierarchy that is 3 deep.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce euismod commodo ante. Suspendisse potenti. Nunc pellentesque quam vel pede. Ut a lorem non urna molestie euismod. Fusce consequat tortor eu urna. Pellentesque aliquam, pede eget tincidunt feugiat, nunc massa hendrerit magna, non ultricies neque lectus nec dui. In hac habitasse platea dictumst. Sed feugiat quam eget lectus. Fusce at pede. Morbi sagittis tristique tortor. Sed erat justo, blandit ac, dignissim in, pretium ut, urna.</p>
    </div><!-- end: .entry -->
  </div><!-- end: .post -->
  
  <div class="post-1 post type-post status-publish format-standard hentry category-uncategorized post" id="post-1"><!-- post div -->
    <h2 class="title"><a href="#1" title="Permalink to Hello world!">Hello world!</a></h2>
    <div class="post-info-top">
      <span class="post-info-date">
        Posted by Theme Admin        on <a href="#1" title="10:40 pm" rel="bookmark">June 4, 2008</a>
      </span>
      <span id="gotocomments"><a href="#1#comments" title="Comment on Hello world!">2 comments</a></span>
    </div>
    <div class="clear"></div>
    <div class="entry">
      <a href="#1" title="Hello world!"></a>
      <p>Welcome to Calipso. This is your first post. Edit or delete it, then start building!</p>
    </div><!-- end: .entry -->
  </div><!-- end: .post -->
  
  
</div><!-- end: .sample-content -->
