<div class="dox-content content">

  <% if(type === "module" || type === "template") { %>
    <h1><a href="/dox/<%- module.name %>"><%- module.name %> [<%- module.type %>]</a></h1>
  <% } else { %>
    <h1><%- path %></h1>
  <% } %>
  <a href="/dox"><< <%- t('All Modules') %></a>

  <p><small>This documentation is generated automatically by the document module, supported by the excellent dox library. Any absence of text, comments, or issues with layout are due to inconsistent commenting / coding, and will be repaired asap [cliftonc].</small></p>

  <%
  var counter = 0;
  output.forEach(function(item) {
    counter++;
    %>

    <% if(item.ctx) { %>
      <h2 id="<%- item.ctx.name %>"><%- item.ctx.name %></h2>
    <% } %>

    <div class="dox-code-item">

      <div class='dox-comment <%- item.description.full ? '' : 'no-dox-comment' %>'>
        <%- item.description.full ? item.description.full : 'No comments ...' %>
      </div>

      <% if(counter > 1) { %>
        <div class="calloutDown">
          <div class="calloutDown2">
          </div>
        </div>
      <% } %>

      <% if (item.code) { %>
        <pre class='prettyprint'><%- item.code %></pre>
        <br/>
      <% } %>

    </div>

  <% }); %>
</div>
