<div class="content">
  <a name="library"></a>
  <h1><%- t('Core Libraries') %></h1>
  <table class='tabular'>
    <tr>
      <th><%- t('Name') %></th>
      <th><%- t('Description') %></th>
      <th><%- t('Author') %></th>
      <th><%- t('Version') %></th>
    </tr>
  <%

      // Print
      libraries.forEach(function(library) {
   %>
        <tr>
            <td><a href='/dox/library/<%- library.name %>'><%- library.name %></a></td>
            <td class='module-description'><%- library.about ? library.about.description : '' %></td>
            <td><a href='/user/profile/<%- library.about ? library.about.author : ''  %>'><%- library.about ? library.about.author : ''  %></a></td>
            <td><%- library.about ? library.about.version : ''  %></td>
        </tr>
      <% }); %>

   </table>
  <br/>

  <%

    var split = {core:[],community:[]}; // Defaults

    for(var module in modules) {
      if(!split[modules[module].type]) split[modules[module].type] = []; // Add if doesn't exist (e.g. site)
      split[modules[module].type].push(modules[module]);
    }

    // Order

    for(var segment in split) {
  %>
  <a name="<%- segment %>"></a>
  <h1><%- segment %> <%- t('Modules') %></h1>
  <table class='tabular'>
    <tr>
      <th><%- t('Name') %></th>
      <th><%- t('Description') %></th>
      <th><%- t('Author') %></th>
      <th><%- t('Version') %></th>
      <th><%- t('Enabled') %></th>
    </tr>
  <%

      // Order the array
      split[segment].sort(function(a,b){return b.name < a.name })

      // Print
      split[segment].forEach(function(module) {
   %>
        <tr>
            <td><a href='/dox/<%- module.name %>'><%- module.name %></a></td>
            <td class='module-description'><%- module.about ? module.about.description : '' %></td>
            <td><a href='/user/profile/<%- module.about ? module.about.author : ''  %>'><%- module.about ? module.about.author : ''  %></a></td>
            <td><%- module.about ? module.about.version : ''  %></td>
            <td><%- module.enabled ? 'Yes' : 'No' %></td>
        </tr>
      <% }); %>

   </table>
  <br/>
  <% } %>
</div>