<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="put your site description here">
    <meta name="keywords" content="put your site keywords here">
    <title>Clean Slate</title>
    <%- styles %>
    
  </head>
  <body>
  	<div id="header">
        <h1><a href="/">Site Name</a></h1>
        <nav class="secondary">
          <%- secondary %>
        </nav>
        <nav class="primary">
          <%- primary %>
        </nav>
      </div>
    <div id="jstree" style="float:left; width:250px; margin-left:10px; outline: 1px solid #333; position: relative; z-index:999;">
      <%- admin %>
    </div>      
            
    <div id="mainContainer" style="
    padding:100px 20px 0 272px;">
      
      <div id="admin-messages">
        <%- messages %>
      </div>
      <% if(user.isAdmin) { %>
        <div id="adminToolbar">
          <%- getMenu('adminToolbar') %>
        </div>
      <% } %>
      <div id="admin-body">        
        <%- body %>
      </div>
      <div id="footer">
        <%- footer %>
      </div>
    </div>
    <%- scripts %>
  </body>
</html>
