<html>
  <head>
    <title>Calipso - A Node CMS</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link type="text/css" href="/css/Aristo/jquery-ui-1.8.7.custom.css" rel="stylesheet" /> 
        <script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.8.10.custom.min.js"></script>       
  </head>
  <body>    
    <div id="menu">
      <%- menu %>
    </div>
    <div id="container">
        <div id="header">
            <%- header %>                        
        </div>        
        <div id="content">                      
            <%- body %>
        </div>
        <div id="right">                         
            <%- right %>
        </div>        
        <div style="clear:both"></div>
        <div id="footer">
            <%- footer %>
        </div>      
    </div>
  </body>
</html>