<html>
  <head>
    <title>Calipso - A Node CMS</title>        
        <link type="text/css" href="/css/Aristo/jquery-ui-1.8.7.custom.css" rel="stylesheet" /> 
        <link rel="stylesheet" href="/css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <%- scripts %>       
  </head>
  <body>    
    <div id="adminMenu">
      <%- admin %>
    </div>
  	<div id="container">
	  	<div id="header">
            <%- header %>                        
		</div>	      
		<div id="content">    		    		
    		<%- body %>
    	</div>
    	<div id="right">    	                 
	        <div id="menu">
	            <%- primary %>
	        </div>	        
            <%- right %>
        </div>        
        <div style="clear:both"></div>
    	<div id="footer">
    	    <%- footer %>
        </div>		
    </div>
  </body>
</html>
