#form-section-modules .fieldset-fields {
  padding: 5px 0 20px;
}

#form-section-modules legend {
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 5px;
}

#form-section-modules legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#form-section-modules div.form-item {
  float: left;
  clear:none !important;
  width: 50%;
  margin-bottom: 10px;
  height: 50px;
  overflow: none;
}

#form-section-modules .checkbox {
  margin-left: 0;
}
#form-section-modules .description {
  padding-left: 22px;
}

.admin-dashboard-col1 {
  float: left;
  width: 45%;
  display: inline;
  border: solid 1px silver;
}

.admin-dashboard-col2 {
  display: inline;
  float: right;
  width: 45%;
  border: solid 1px silver;
}

.admin-dashboard-clear {
  clear: both;
  height: 15px;
}

table {margin:0 0 20px;width:100%;text-align:left;}
th {background:silver;border:1px solid silver;padding:4px;}
td {padding:4px;vertical-align:top;}
.sortable {background:silver url(../images/sort.gif) center right no-repeat; padding-right:16px; cursor:pointer;}
.sorted-asc {background:#8dbdd8 url(../images/asc.gif) center right no-repeat;}
.sorted-desc {background:#8dbdd8 url(../images/desc.gif) center right no-repeat;}

a.pager-page {
  padding: 3px;
  border: solid 1px silver;
}
span.pager-page {
  padding: 3px;
  background: silver;
}
.tabular {
  clear: both;
}
