.menu.admin, .menu.admin ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.menu.admin {
    background: #16272f;
    border-bottom: 1px solid #16272f;
    overflow: visible;
    zoom: 1;
    -webkit-border-radius: 0.3663em;
    -moz-border-radius: 0.3663em;
    -ms-border-radius: 0.3663em;
    -o-border-radius: 0.3663em;
    border-radius: 0.3663em;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2f5163), color-stop(100%, #1f3540));
    background: -webkit-linear-gradient(#2f5163, #1f3540);
    background: -moz-linear-gradient(#2f5163, #1f3540);
    background: -o-linear-gradient(#2f5163, #1f3540);
    background: linear-gradient(#2f5163, #1f3540)
}

.menu.admin ul {
    list-style: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 0);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    margin-left: 1em;
    background: #444;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #111111));
    background: -webkit-linear-gradient(#444444, #111111);
    background: -moz-linear-gradient(#444444, #111111);
    background: -o-linear-gradient(#444444, #111111);
    background: linear-gradient(#444444, #111111);
    -webkit-box-shadow: 0 0 0.76923em rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 0.76923em rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0.76923em rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 0.3663em;
    -moz-border-radius: 0.3663em;
    -ms-border-radius: 0.3663em;
    -o-border-radius: 0.3663em;
    border-radius: 0.3663em
}

.menu.admin ul ul {
    left: 100%;
    top: 0
}

.menu.admin ul ul li:first-child a:after {
    left: -0.76923em;
    top: 0.8em;
    width: 0;
    height: 0;
    border-left: 0;
    border-bottom: 0.3663em solid transparent;
    border-top: 0.3663em solid transparent;
    border-right: 0.45788em solid #444
}

.menu.admin ul ul li:first-child a:hover:after {
    border-right-color: #04acec;
    border-bottom-color: transparent
}

.menu.admin ul ul li:last-child a {
    border-right-color: #04acec;
    border-bottom-color: transparent
}

.menu.admin ul li {
    -webkit-box-shadow: 0 1px 0 #111, 0 0.76923em 0 #777;
    -moz-box-shadow: 0 1px 0 #111, 0 0.76923em 0 #777;
    box-shadow: 0 1px 0 #111, 0 0.76923em 0 #777;
    width: 100%
}

.menu.admin ul li:last-child {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.menu.admin ul li:hover>ul {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 100);
    opacity: 1;
    visibility: visible;
    margin: 0
}

.menu.admin ul li:first-child a {
    -moz-border-radius-topleft: 0.3663em;
    -webkit-border-top-left-radius: 0.3663em;
    border-top-left-radius: 0.3663em;
    -moz-border-radius-topright: 0.3663em;
    -webkit-border-top-right-radius: 0.3663em;
    border-top-right-radius: 0.3663em
}

.menu.admin ul li:first-child a:hover:after {
    border-bottom-color: #04acec
}

.menu.admin ul li:first-child a:after {
    content: '';
    position: absolute;
    left: 1.3em;
    top: -0.76923em;
    width: 0;
    height: 0;
    border-left: 0.3663em solid transparent;
    border-right: 0.3663em solid transparent;
    border-bottom: 0.45788em solid #444
}

.menu.admin ul a {
    padding: 0.76923em;
    line-height: 1;
    width: 83%
}

.menu.admin li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    -webkit-box-shadow: 1px 0 0 #444;
    -moz-box-shadow: 1px 0 0 #444;
    box-shadow: 1px 0 0 #444;
    border-right: 1px solid #222
}

.menu.admin li:hover a {
    color: #fafafa
}

.menu.admin li:hover>ul {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 100);
    opacity: 1;
    visibility: visible;
    margin: 0
}

.menu.admin a {
    color: #fff;
    font-size: 85%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding: 0.76923em 1.3em;
    text-decoration: none;
    text-shadow: 0 1px 0.76923em #000
}

.menu.admin a:hover {
    background: #0186ba;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #04acec), color-stop(100%, #0186ba));
    background: -webkit-linear-gradient(#04acec, #0186ba);
    background: -moz-linear-gradient(#04acec, #0186ba);
    background: -o-linear-gradient(#04acec, #0186ba);
    background: linear-gradient(#04acec, #0186ba)
}

.menu.admin:before, .menu.admin:after {
    content: "";
    display: table
}
