/* line 3, ../sass/admin.scss */
html {
  background: #fff;
}

/* line 7, ../sass/admin.scss */
body {
  background: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9d9d9), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#d9d9d9, #ffffff);
  background: -moz-linear-gradient(#d9d9d9, #ffffff);
  background: -o-linear-gradient(#d9d9d9, #ffffff);
  background: -ms-linear-gradient(#d9d9d9, #ffffff);
  background: linear-gradient(#d9d9d9, #ffffff);
}

/* line 12, ../sass/admin.scss */
#form-section-modules .fieldset-fields {
  padding: 5px 0 20px;
}

/* line 16, ../sass/admin.scss */
#form-section-modules legend {
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* line 22, ../sass/admin.scss */
#form-section-modules legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* line 27, ../sass/admin.scss */
#form-section-modules div.form-item {
  float: left;
  clear: none !important;
  width: 50%;
  margin-bottom: 10px;
  height: 50px;
  overflow: none;
}

/* line 36, ../sass/admin.scss */
#form-section-modules .checkbox {
  margin-left: 0;
}

/* line 39, ../sass/admin.scss */
#form-section-modules .description {
  padding-left: 22px;
}

/* line 43, ../sass/admin.scss */
.admin-dashboard-col1 {
  float: left;
  width: 45%;
  display: inline;
  border: solid 1px silver;
}

/* line 50, ../sass/admin.scss */
.admin-dashboard-col2 {
  display: inline;
  float: right;
  width: 45%;
  border: solid 1px silver;
}

/* line 57, ../sass/admin.scss */
.admin-dashboard-clear {
  clear: both;
  height: 15px;
}

/* line 65, ../sass/admin.scss */
table {
  background: #fff;
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  border-collapse: collapse;
  font-size: 13px;
}
/* line 73, ../sass/admin.scss */
table th, table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left;
}
/* line 80, ../sass/admin.scss */
table tbody tr:nth-child(odd) {
  background: #efefef;
}
/* line 85, ../sass/admin.scss */
table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: 1px solid #DDD;
}
/* line 92, ../sass/admin.scss */
table th + th, table td + td {
  border-left: 1px solid #DDD;
}

/* line 97, ../sass/admin.scss */
.sortable {
  background: url(../images/sort.gif) center right no-repeat;
  padding-right: 16px;
  cursor: pointer;
}

/* line 102, ../sass/admin.scss */
.sorted-asc {
  background: #d9e9f2 url(../images/asc.gif) center right no-repeat;
  border-color: #8dbdd8;
}

/* line 106, ../sass/admin.scss */
.sorted-desc {
  background: white url(../images/desc.gif) center right no-repeat;
  border-color: #8dbdd8;
}

/* line 111, ../sass/admin.scss */
a.pager-page {
  padding: 3px;
  border: solid 1px silver;
}

/* line 115, ../sass/admin.scss */
span.pager-page {
  padding: 3px;
  background: silver;
}

/* line 119, ../sass/admin.scss */
.tabular {
  clear: both;
}

/* line 123, ../sass/admin.scss */
#adminToolbar {
  background: #fff;
  border: 1px solid #ccc;
  float: left;
  overflow: hidden;
  width: 20%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
/* line 132, ../sass/admin.scss */
#adminToolbar ul, #adminToolbar li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
/* line 138, ../sass/admin.scss */
#adminToolbar li {
  border-bottom: 1px solid #d9d9d9;
  display: block;
  overflow: hidden;
}
/* line 143, ../sass/admin.scss */
#adminToolbar li a {
  display: block;
  padding: 8px 16px;
  color: #222;
  text-decoration: none;
  font-weight: bold;
}
/* line 151, ../sass/admin.scss */
#adminToolbar li:last-child {
  border: 0;
}
/* line 155, ../sass/admin.scss */
#adminToolbar li:hover {
  background: #eee;
  border-color: #ccc;
}

/* line 162, ../sass/admin.scss */
#adminToolbar li ul {
  display: none;
  float: left;
  clear: left;
  position: absolute;
  background: #1993A8;
}
