@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700);
/* line 17, ../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/admin.scss */
html {
  background: #fff;
}

/* line 28, ../sass/admin.scss */
body {
  background: #fff;
  font: normal 0.875em/1em sans-serif;
}

/* line 42, ../sass/admin.scss */
body {
  background: #fff;
  color: #444;
  font: 400 0.875em/1.618em "Helvetica", serif;
  min-width: 700px;
  text-shadow: 0 1px 1px #fff;
  height: 100%;
}

/* line 51, ../sass/admin.scss */
a {
  text-decoration: none;
}

/* line 55, ../sass/admin.scss */
a:link, a:visited {
  color: #222;
}

/* line 59, ../sass/admin.scss */
ul, ol, dl {
  margin: 0 0 0 1.618em;
  padding: 0;
}

/* line 64, ../sass/admin.scss */
ol li {
  list-style: decimal;
}

/* line 68, ../sass/admin.scss */
p {
  margin: 0 0 2.618em;
}

/* line 72, ../sass/admin.scss */
strong, b {
  color: #222;
  font-weight: 600;
}

/* line 77, ../sass/admin.scss */
i, em {
  font-style: italic;
}

/* line 82, ../sass/admin.scss */
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.618em;
  margin-bottom: 15px;
  text-shadow: 0 1px 1px #fff;
}

/* line 91, ../sass/admin.scss */
h6, h5 {
  font-size: 1em;
}

/* line 95, ../sass/admin.scss */
h4 {
  font-size: 1.25em;
}

/* line 99, ../sass/admin.scss */
h3 {
  font-size: 1.618em;
  letter-spacing: -1px;
}

/* line 104, ../sass/admin.scss */
h2 {
  font-size: 2.023em;
  letter-spacing: -1px;
}

/* line 109, ../sass/admin.scss */
h1 {
  font-size: 2.618em;
  letter-spacing: -2px;
}

/* line 119, ../sass/admin.scss */
#container {
  margin: 0 auto;
  width: 980px;
}

/* line 124, ../sass/admin.scss */
#header {
  border-bottom: 1px solid #d9d9d9;
  margin: 20px auto 40px;
  overflow: hidden;
}
/* line 130, ../sass/admin.scss */
#header h1 {
  float: left;
}

/* line 135, ../sass/admin.scss */
#body {
  width: 660px;
  float: left;
  margin: 0 20px 20px 0;
  min-height: 100px;
  _display: inline;
}

/* line 143, ../sass/admin.scss */
#admin-body {
  clear: both;
  margin: 0 auto 40px;
  width: 72%;
}
/* line 148, ../sass/admin.scss */
#admin-body .content-item {
  border: 1px solid #d9d9d9;
  padding: 25px;
  position: relative;
  outline: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05), inset 0 0 10px #f8f8f8;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05), inset 0 0 10px #f8f8f8;
  -o-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05), inset 0 0 10px #f8f8f8;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05), inset 0 0 10px #f8f8f8;
}
/* line 157, ../sass/admin.scss */
#admin-body .content-item h2 {
  line-height: 1em;
  padding: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
/* line 164, ../sass/admin.scss */
#admin-body .content-item .by, #admin-body .content-item .status, #admin-body .content-item .created, #admin-body .content-item .tags {
  font-style: italic;
  font-family: Georgia, serif;
  margin: 1em;
}
/* line 170, ../sass/admin.scss */
#admin-body .content-item .content {
  border: 1px solid transparent;
  clear: left;
  margin-top: 2em;
  padding: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 181, ../sass/admin.scss */
#footer {
  border-top: 1px solid #d9d9d9;
  clear: both;
  overflow: hidden;
  padding: 25px 0;
  text-align: center;
}

/* line 193, ../sass/admin.scss */
#form-section-modules .fieldset-fields {
  padding: 5px 0 20px;
}

/* line 197, ../sass/admin.scss */
#form-section-modules legend {
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* line 203, ../sass/admin.scss */
#form-section-modules legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* line 208, ../sass/admin.scss */
#form-section-modules div.form-item {
  float: left;
  clear: none !important;
  width: 50%;
  margin-bottom: 10px;
  height: 50px;
  overflow: none;
}

/* line 217, ../sass/admin.scss */
#form-section-modules .checkbox {
  margin-left: 0;
}

/* line 220, ../sass/admin.scss */
#form-section-modules .description {
  padding-left: 22px;
}

/* line 226, ../sass/admin.scss */
.admin-page h2 {
  margin-bottom: 1.5em;
}
/* line 230, ../sass/admin.scss */
.admin-page .admin-dashboard-col1, .admin-page .admin-dashboard-col2 {
  padding: 10px;
  -moz-box-shadow: 0 1px 3px #d9d9d9;
  -webkit-box-shadow: 0 1px 3px #d9d9d9;
  -o-box-shadow: 0 1px 3px #d9d9d9;
  box-shadow: 0 1px 3px #d9d9d9;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

/* line 239, ../sass/admin.scss */
.admin-dashboard-col1 {
  float: left;
  width: 45%;
  display: inline;
  border: solid 1px silver;
}

/* line 246, ../sass/admin.scss */
.admin-dashboard-col2 {
  display: inline;
  float: right;
  width: 45%;
  border: solid 1px silver;
}

/* line 253, ../sass/admin.scss */
.admin-dashboard-clear {
  clear: both;
  height: 15px;
}

/* line 261, ../sass/admin.scss */
table {
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 0;
  width: 100%;
  padding: 0;
  font-size: 13px;
}
/* line 269, ../sass/admin.scss */
table th, table td {
  padding: 15px 20px;
  line-height: 18px;
  text-align: left;
  text-transform: capitalize;
}
/* line 276, ../sass/admin.scss */
table th[name="title"], table td[name="title"] {
  width: 40%;
}
/* line 283, ../sass/admin.scss */
table tbody tr:nth-child(odd) {
  background: #f3f3f3;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}
/* line 289, ../sass/admin.scss */
table tbody tr td {
  border-right: 1px solid #d9d9d9;
}
/* line 293, ../sass/admin.scss */
table tbody tr:hover {
  background: #c6deec;
}
/* line 297, ../sass/admin.scss */
table tbody tr:hover td {
  border: 1px solid #8dbdd8;
}
/* line 303, ../sass/admin.scss */
table th {
  background: #fff;
  border: 1px solid #d9d9d9;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  padding: 10px 10px;
  -moz-box-shadow: inset 0 -3px 5px #eeeeee;
  -webkit-box-shadow: inset 0 -3px 5px #eeeeee;
  -o-box-shadow: inset 0 -3px 5px #eeeeee;
  box-shadow: inset 0 -3px 5px #eeeeee;
}

/* line 316, ../sass/admin.scss */
.sortable {
  background: url(../images/sort.gif) 90% 50% no-repeat;
  padding-right: 16px;
  cursor: pointer;
}

/* line 321, ../sass/admin.scss */
.sorted-asc {
  background: #d9e9f2 url(../images/asc.gif) 90% 50% no-repeat;
  border-color: #8dbdd8;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 327, ../sass/admin.scss */
.sorted-desc {
  background: #9ce3bd url(../images/desc.gif) 90% 50% no-repeat;
  border-color: #33b36f;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 334, ../sass/admin.scss */
a.pager-page {
  padding: 3px;
  border: solid 1px silver;
}

/* line 338, ../sass/admin.scss */
span.pager-page {
  padding: 3px;
  background: silver;
}

/* line 342, ../sass/admin.scss */
.tabular {
  clear: both;
}

/* line 350, ../sass/admin.scss */
ul.tabs {
  height: 32px;
}

/* line 354, ../sass/admin.scss */
ul.tabs li {
  float: left;
  height: 31px;
  line-height: 31px;
  border: 1px solid #999;
  margin: 0 5px -1px 0;
  background: #e0e0e0;
  overflow: hidden;
  position: relative;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

/* line 369, ../sass/admin.scss */
ul.tabs li a {
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 0.875em;
  padding: 0 20px;
  border: 1px solid #eee;
  outline: none;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 381, ../sass/admin.scss */
ul.tabs li a:hover {
  background: #ccc;
}

/* line 385, ../sass/admin.scss */
ul.tabs li.active,
ul.tabs li.active a:hover {
  background: #fff;
  border-bottom: 1px solid #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 390, ../sass/admin.scss */
.tab-container {
  background: #fff;
  border: 1px solid #999;
  clear: both;
  padding: 0 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

/* line 399, ../sass/admin.scss */
.tab-content {
  padding: 20px 0 10px;
}
/* line 402, ../sass/admin.scss */
.tab-content h3, .tab-content h4 {
  background: #2F5163;
  border: 1px solid #1f3540;
  color: #fff;
  font-size: 1.25em;
  left: -30px;
  position: relative;
  padding: 5px 15px;
  float: left;
  text-shadow: 0 1px 1px black;
  text-transform: capitalize;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 3px #cccccc;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 3px #cccccc;
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 3px #cccccc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 3px #cccccc;
}
/* line 420, ../sass/admin.scss */
.tab-content h3:after, .tab-content h4:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 4px;
  border-style: solid;
  border-color: black black transparent transparent;
}

/* line 434, ../sass/admin.scss */
.tab-content img {
  float: left;
  margin: 0 20px 20px 0;
  padding: 5px;
}

/* line 439, ../sass/admin.scss */
.tab-container .actions {
  margin: 0;
}

/* line 447, ../sass/admin.scss */
.form-item {
  border-top: 1px dotted #d9d9d9;
  clear: both;
  margin: 11px 0 0;
  padding: 10px 0 0;
}

/* line 454, ../sass/admin.scss */
.fieldset-fields {
  clear: both;
  margin-bottom: 60px;
}

/* line 459, ../sass/admin.scss */
label {
  display: inline-block;
  font-weight: bold;
  width: 30%;
  text-align: left;
  padding-right: 10px;
  vertical-align: top;
}

/* line 468, ../sass/admin.scss */
label.for-checkable {
  width: auto;
  text-align: left;
  padding: 0 0 0 10px;
}

/* line 474, ../sass/admin.scss */
textarea, input[type="text"], input[type="password"], select {
  font-size: 14px;
  border: 1px solid #999;
  padding: 1%;
  width: 66%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

/* line 484, ../sass/admin.scss */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, select:focus {
  border-color: #007DFF;
}

/* line 487, ../sass/admin.scss */
textarea {
  width: 65%;
  height: 200px;
}

/* line 492, ../sass/admin.scss */
.description {
  color: #777;
  padding: 2px 0 5px 203px;
  font: italic 11px/1.5em Georgia, serif;
  max-width: 400px;
  display: block;
}

/* line 500, ../sass/admin.scss */
.button, button, input[type="submit"], a.submit {
  background: #d9d9d9;
  border: 1px solid #aaa;
  border-color: #aaa #999 #888;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  margin: 0 20px 0 0;
  padding: 8px 16px;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #d9d9d9));
  background: -webkit-linear-gradient(#ededed, #d9d9d9);
  background: -moz-linear-gradient(#ededed, #d9d9d9);
  background: -o-linear-gradient(#ededed, #d9d9d9);
  background: -ms-linear-gradient(#ededed, #d9d9d9);
  background: linear-gradient(#ededed, #d9d9d9);
  -moz-box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(150, 150, 150, 0.5);
  -o-box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(150, 150, 150, 0.5);
  box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(150, 150, 150, 0.5);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}
/* line 7, ../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.button, button, input[type="submit"], a.submit {
  *display: inline;
}
/* line 521, ../sass/admin.scss */
.button:hover, .button:focus, .button.loading, button:hover, button:focus, button.loading, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"].loading, a.submit:hover, a.submit:focus, a.submit.loading {
  background: #2F5163;
  border-color: #333;
  color: #fff;
  text-shadow: 0 1px 1px #111;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 4px rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 4px rgba(150, 150, 150, 0.5);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 4px rgba(150, 150, 150, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 4px rgba(150, 150, 150, 0.5);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f6d86), color-stop(100%, #2f5163));
  background: -webkit-linear-gradient(#3f6d86, #2f5163);
  background: -moz-linear-gradient(#3f6d86, #2f5163);
  background: -o-linear-gradient(#3f6d86, #2f5163);
  background: -ms-linear-gradient(#3f6d86, #2f5163);
  background: linear-gradient(#3f6d86, #2f5163);
}
/* line 530, ../sass/admin.scss */
.button:active, button:active, input[type="submit"]:active, a.submit:active {
  border-color: #000;
  -moz-box-shadow: inset 0 0 8px black;
  -webkit-box-shadow: inset 0 0 8px black;
  -o-box-shadow: inset 0 0 8px black;
  box-shadow: inset 0 0 8px black;
}
/* line 535, ../sass/admin.scss */
.button.loading, button.loading, input[type="submit"].loading, a.submit.loading {
  background: #2f5163 url("/images/loader.gif") 15px 50% no-repeat;
  background: url("/images/loader.gif") 15px 50% no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f6d86), color-stop(100%, #2f5163));
  background: url("/images/loader.gif") 15px 50% no-repeat, -webkit-linear-gradient(#3f6d86, #2f5163);
  background: url("/images/loader.gif") 15px 50% no-repeat, -moz-linear-gradient(#3f6d86, #2f5163);
  background: url("/images/loader.gif") 15px 50% no-repeat, -o-linear-gradient(#3f6d86, #2f5163);
  background: url("/images/loader.gif") 15px 50% no-repeat, -ms-linear-gradient(#3f6d86, #2f5163);
  background: url("/images/loader.gif") 15px 50% no-repeat, linear-gradient(#3f6d86, #2f5163);
  padding-left: 40px;
}

/* line 543, ../sass/admin.scss */
input.date {
  width: 3em;
}

/* line 545, ../sass/admin.scss */
input.date-day,
input.time {
  width: 2em;
}

/* line 547, ../sass/admin.scss */
select.date.date-month {
  width: 25%;
}

/* line 551, ../sass/admin.scss */
input.checkbox, input.radio {
  margin-left: 160px;
}

/* line 552, ../sass/admin.scss */
input.labelFirst {
  margin-left: auto;
}

/* line 553, ../sass/admin.scss */
form .section {
  margin: 0 0 20px;
}

/* line 554, ../sass/admin.scss */
form .section:first-child {
  border: 0;
}

/* line 555, ../sass/admin.scss */
.actions {
  clear: both;
  padding: 20px 0 20px 20px;
  border-top: 1px solid #ccc;
  margin: 10px 0 0;
  height: 35px;
}

/* line 556, ../sass/admin.scss */
.actions input {
  float: right;
}

/* line 560, ../sass/admin.scss */
.log-in-or-register {
  float: right;
}

/* line 561, ../sass/admin.scss */
.link-divider {
  width: 0;
  height: 1.2em;
  overflow: hidden;
  display: inline-block;
  border-right: 1px solid #000;
  margin: 0 5px;
}

/* line 562, ../sass/admin.scss */
#user-login {
  position: absolute;
  right: 0;
  top: 30px;
  display: none;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px #333;
}

/* line 563, ../sass/admin.scss */
#user-login form {
  padding: 20px;
  background: #eee;
}

/* line 564, ../sass/admin.scss */
#user-welcome-or-login h2 {
  display: none;
}

/* line 565, ../sass/admin.scss */
#user-welcome-or-login label {
  padding: 0;
  text-align: left;
  width: auto;
}

/* line 566, ../sass/admin.scss */
#user-welcome-or-login input {
  width: 180px;
}

/* line 567, ../sass/admin.scss */
#user-welcome-or-login .form-field {
  margin: 0 0 2px;
}

/* line 568, ../sass/admin.scss */
#user-welcome-or-login .actions {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 569, ../sass/admin.scss */
#user-welcome-or-login .actions a {
  display: none;
}

/* line 570, ../sass/admin.scss */
#user-welcome-or-login input[type="submit"] {
  width: auto;
  padding: 3px 8px;
  font-size: inherit;
  font-weight: normal;
}

/* line 573, ../sass/admin.scss */
#user-login:before,
#user-login:after {
  content: "";
  position: absolute;
  z-index: 998;
  top: -8px;
  right: 78px;
  margin-left: -8px;
  border-top: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #eee;
}

/* line 586, ../sass/admin.scss */
#user-login:after {
  border-bottom: 9px solid #ccc;
  top: -9px;
  z-index: 997;
}

/* general 'close' button - round with an 'x',
   actually a multiplication sign:  `&times;` `&#215;`  `&#xD7;`  `×`  */
/* line 594, ../sass/admin.scss */
.close {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  text-align: center;
  overflow: hidden;
  background: #aaa;
  color: #aaa;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* line 611, ../sass/admin.scss */
.close:before {
  content: "\D7";
  color: #000;
  display: block;
  text-align: center;
  font-weight: normal;
  width: 16px;
  position: absolute;
  top: -1px;
  left: 0;
  font-size: 13px;
  line-height: 16px;
  font-family: "Helvetica Neue", Consolas, Verdana, Tahoma, Calibri, Helvetica, Menlo, "Droid Sans", sans-serif;
}

/* messages [info, success, warning, error] */
/* line 629, ../sass/admin.scss */
#messages {
  clear: both;
  position: absolute;
  top: 60px;
  left: 20px;
  border-radius: 8px;
  overflow: hidden;
}

/* line 637, ../sass/admin.scss */
#messages ul {
  list-style: none;
}

/* line 643, ../sass/admin.scss */
.info,
.success,
.warning,
.error {
  border: 1px solid;
  margin: 0 0 20px;
  padding: 10px 20px;
  background-repeat: no-repeat;
  background-position: 10px 6px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
}

/* line 656, ../sass/admin.scss */
.info {
  color: #1175a5;
  background-color: #BDE5F8;
  border-color: #8fd3f3;
  text-shadow: 0 0 3px rgba(50, 150, 255, 0.4);
  background: rgba(100, 200, 255, 0.2);
  border: 1px solid #AEF;
  margin: 25px;
  display: block;
}

/* line 667, ../sass/admin.scss */
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

/* line 671, ../sass/admin.scss */
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

/* line 675, ../sass/admin.scss */
.error {
  color: #D8000C;
  background-color: #F6D6D6;
}

/* line 680, ../sass/admin.scss */
.sidePanelItem {
  margin: 0 0 10px;
}

/* line 682, ../sass/admin.scss */
.language-wrap {
  border: 1px solid #d9d9d9;
  padding: 20px;
  margin: 0 0 40px;
  -moz-box-shadow: 0 1px 4px #d9d9d9;
  -webkit-box-shadow: 0 1px 4px #d9d9d9;
  -o-box-shadow: 0 1px 4px #d9d9d9;
  box-shadow: 0 1px 4px #d9d9d9;
}
/* line 690, ../sass/admin.scss */
.language-wrap pre {
  clear: both;
  white-space: wrap;
}
/* line 695, ../sass/admin.scss */
.language-wrap h3, .language-wrap h4 {
  background: #2F5163;
  border: 1px solid #1f3540;
  color: #fff;
  font-size: 1.25em;
  left: -30px;
  position: relative;
  padding: 5px 15px;
  float: left;
  text-shadow: 0 1px 1px black;
  text-transform: capitalize;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 3px #cccccc;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 3px #cccccc;
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 3px #cccccc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 3px #cccccc;
}
/* line 713, ../sass/admin.scss */
.language-wrap h3:after, .language-wrap h4:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 4px;
  border-style: solid;
  border-color: black black transparent transparent;
}
