/* line 21, ../sass/admin-menu.scss */
html {
  padding-top: 33px;
}

/* line 25, ../sass/admin-menu.scss */
#adminMenu {
  border-bottom: 1px solid #001;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background: #16272f;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(47, 81, 99, 0.65)), color-stop(100%, rgba(31, 53, 64, 0.45))), url("http://subtlepatterns.com/patterns/blackmamba.png");
  background: -webkit-linear-gradient(rgba(47, 81, 99, 0.65), rgba(31, 53, 64, 0.45)), url("http://subtlepatterns.com/patterns/blackmamba.png");
  background: -moz-linear-gradient(rgba(47, 81, 99, 0.65), rgba(31, 53, 64, 0.45)), url("http://subtlepatterns.com/patterns/blackmamba.png");
  background: -o-linear-gradient(rgba(47, 81, 99, 0.65), rgba(31, 53, 64, 0.45)), url("http://subtlepatterns.com/patterns/blackmamba.png");
  background: -ms-linear-gradient(rgba(47, 81, 99, 0.65), rgba(31, 53, 64, 0.45)), url("http://subtlepatterns.com/patterns/blackmamba.png");
  background: linear-gradient(rgba(47, 81, 99, 0.65), rgba(31, 53, 64, 0.45)), url("http://subtlepatterns.com/patterns/blackmamba.png");
  -moz-box-shadow: inset -3px 0 7px rgba(0, 0, 0, 0.35), 0 3px 8px #cccccc, inset 0 -1px 1px black;
  -webkit-box-shadow: inset -3px 0 7px rgba(0, 0, 0, 0.35), 0 3px 8px #cccccc, inset 0 -1px 1px black;
  -o-box-shadow: inset -3px 0 7px rgba(0, 0, 0, 0.35), 0 3px 8px #cccccc, inset 0 -1px 1px black;
  box-shadow: inset -3px 0 7px rgba(0, 0, 0, 0.35), 0 3px 8px #cccccc, inset 0 -1px 1px black;
}

/* line 42, ../sass/admin-menu.scss */
#admin-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 47, ../sass/admin-menu.scss */
#admin-menu li {
  position: relative;
  float: left;
}
/* line 51, ../sass/admin-menu.scss */
#admin-menu li a:link, #admin-menu li a:visited {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  color: #fefefe;
  display: block;
  font-size: 14px;
  height: 20px;
  padding: 0 22px;
  line-height: 30px;
  height: 33px;
  text-decoration: none;
  text-shadow: 0 1px 2px #000;
  white-space: nowrap;
}
/* line 65, ../sass/admin-menu.scss */
#admin-menu li a:link:hover, #admin-menu li a:visited:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset 0 0 4px #111111;
  -webkit-box-shadow: inset 0 0 4px #111111;
  -o-box-shadow: inset 0 0 4px #111111;
  box-shadow: inset 0 0 4px #111111;
}
/* line 74, ../sass/admin-menu.scss */
#admin-menu > li:last-child a {
  -moz-box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.15);
  -o-box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.15);
  box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.15);
}

/* line 83, ../sass/admin-menu.scss */
#admin-menu li:hover > ul {
  display: block;
}

/* line 87, ../sass/admin-menu.scss */
#admin-menu ul {
  border: 1px solid #111;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 33px;
  left: -1px;
  z-index: 99999;
  width: 100%;
  background-color: #16272f;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(47, 81, 99, 0.55)), color-stop(100%, rgba(31, 53, 64, 0.35))), url("http://subtlepatterns.com/patterns/blackmamba.png");
  background: -webkit-linear-gradient(rgba(47, 81, 99, 0.55), rgba(31, 53, 64, 0.35)), url("http://subtlepatterns.com/patterns/blackmamba.png");
  background: -moz-linear-gradient(rgba(47, 81, 99, 0.55), rgba(31, 53, 64, 0.35)), url("http://subtlepatterns.com/patterns/blackmamba.png");
  background: -o-linear-gradient(rgba(47, 81, 99, 0.55), rgba(31, 53, 64, 0.35)), url("http://subtlepatterns.com/patterns/blackmamba.png");
  background: -ms-linear-gradient(rgba(47, 81, 99, 0.55), rgba(31, 53, 64, 0.35)), url("http://subtlepatterns.com/patterns/blackmamba.png");
  background: linear-gradient(rgba(47, 81, 99, 0.55), rgba(31, 53, 64, 0.35)), url("http://subtlepatterns.com/patterns/blackmamba.png");
  -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.35), 0 3px 8px #222222, inset 0 -1px 1px black;
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.35), 0 3px 8px #222222, inset 0 -1px 1px black;
  -o-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.35), 0 3px 8px #222222, inset 0 -1px 1px black;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.35), 0 3px 8px #222222, inset 0 -1px 1px black;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 106, ../sass/admin-menu.scss */
#admin-menu ul ul {
  top: -2px;
  left: 100%;
  z-index: 9999;
  width: auto;
}

/* line 113, ../sass/admin-menu.scss */
#admin-menu ul li {
  float: none;
  margin: 0;
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* line 122, ../sass/admin-menu.scss */
#admin-menu ul a {
  padding: 10px;
  height: 10px;
  height: auto;
  line-height: 1;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
}

/* line 137, ../sass/admin-menu.scss */
#adminToolbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
}
/* line 143, ../sass/admin-menu.scss */
#adminToolbar ul, #adminToolbar li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
/* line 149, ../sass/admin-menu.scss */
#adminToolbar ul {
  text-align: right;
}
/* line 153, ../sass/admin-menu.scss */
#adminToolbar li {
  position: relative;
  float: left;
}
/* line 158, ../sass/admin-menu.scss */
#adminToolbar li a {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  color: #fff;
  display: block;
  font-size: 14px;
  height: 20px;
  padding: 0 22px;
  line-height: 30px;
  height: 33px;
  text-decoration: none;
  text-shadow: 0 1px 2px #000;
  white-space: nowrap;
}
/* line 172, ../sass/admin-menu.scss */
#adminToolbar li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset 0 0 4px #111111;
  -webkit-box-shadow: inset 0 0 4px #111111;
  -o-box-shadow: inset 0 0 4px #111111;
  box-shadow: inset 0 0 4px #111111;
}

/* line 183, ../sass/admin-menu.scss */
#new-menu-item:hover {
  background-color: rgba(100, 255, 100, 0.35);
}

/* line 187, ../sass/admin-menu.scss */
#delete-menu-item:hover {
  background-color: rgba(255, 0, 0, 0.35);
}

/* line 191, ../sass/admin-menu.scss */
#edit-menu-item:hover {
  background-color: rgba(0, 200, 200, 0.35);
}

/* Clear floated elements */
/* line 199, ../sass/admin-menu.scss */
#admin-menu:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 208, ../sass/admin-menu.scss */
#admin-menu {
  *zoom: 1;
}

/* IE6 & IE7 */
