.container {
    padding-left: 1em;
    padding-right: 1em
}

.row {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0.7em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all
}

.row.extended-height {
    overflow: visible
}

.col, .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
    margin-right: 3.8%;
    float: left;
    min-height: 1px
}

.row .onecol {
    width: 4.85%
}

.row .twocol {
    width: 13.5%
}

.row .threecol {
    width: 22.15%
}

.row .fourcol {
    width: 30.8%
}

.row .fivecol {
    width: 39.45%
}

.row .sixcol {
    width: 48.1%
}

.row .sevencol {
    width: 56.75%
}

.row .eightcol {
    width: 65.4%
}

.row .ninecol {
    width: 74.05%
}

.row .tencol {
    width: 82.7%
}

.row .elevencol {
    width: 91.35%
}

.row .twelvecol {
    width: 100%;
    float: left
}

.last {
    margin-right: 0
}

img, object, embed {
    max-width: 100%
}

img {
    height: auto
}

@media only screen and (max-width: 1023px) {
    body {
        font-size: 0.8em;
        line-height: 1.5em
    }
}

@media handheld, only screen and (max-width: 767px) {
    body {
        font-size: 16px;
        -webkit-text-size-adjust: none
    }

    .row, body, .container {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0
    }

    .row .onecol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .twocol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .threecol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .fourcol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .fivecol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .sixcol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .sevencol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .eightcol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .ninecol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .tencol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .elevencol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .twelvecol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }
}
