/*Grid*/
/*Type*/
/* Transitions*/
/* ==================================================================================================================== */
/* ! SCSS 1140 Grid V2 by James Ramsay \ http://jwr.vc \ http://www.twitter.com/jamesramsay                           */
/* ! derived from                                                                                                       */
/* ! CSS 1140 Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */
/* line 58, ../sass/grids.scss */
.container {
    padding-left: 1em;
    padding-right: 1em;
}

/* line 63, ../sass/grids.scss */
.row {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0.7em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

/* line 72, ../sass/grids.scss */
.col, .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
    margin-right: 3.8%;
    float: left;
    min-height: 1px;
}

/* line 85, ../sass/grids.scss */
.row .onecol {
    width: 4.85%;
}

/* line 85, ../sass/grids.scss */
.row .twocol {
    width: 13.5%;
}

/* line 85, ../sass/grids.scss */
.row .threecol {
    width: 22.15%;
}

/* line 85, ../sass/grids.scss */
.row .fourcol {
    width: 30.8%;
}

/* line 85, ../sass/grids.scss */
.row .fivecol {
    width: 39.45%;
}

/* line 85, ../sass/grids.scss */
.row .sixcol {
    width: 48.1%;
}

/* line 85, ../sass/grids.scss */
.row .sevencol {
    width: 56.75%;
}

/* line 85, ../sass/grids.scss */
.row .eightcol {
    width: 65.4%;
}

/* line 85, ../sass/grids.scss */
.row .ninecol {
    width: 74.05%;
}

/* line 85, ../sass/grids.scss */
.row .tencol {
    width: 82.7%;
}

/* line 85, ../sass/grids.scss */
.row .elevencol {
    width: 91.35%;
}

/* line 90, ../sass/grids.scss */
.row .twelvecol {
    width: 100%;
    float: left;
}

/* line 96, ../sass/grids.scss */
.last {
    margin-right: 0;
}

/* line 100, ../sass/grids.scss */
img, object, embed {
    max-width: 100%;
}

/* line 104, ../sass/grids.scss */
img {
    height: auto;
}

/* Smaller screens */
@media only screen and (max-width: 1023px) {
    /* line 112, ../sass/grids.scss */
    body {
        font-size: 0.8em;
        line-height: 1.5em;
    }
}

/* Mobile */
@media handheld, only screen and (max-width: 767px) {
    /* line 123, ../sass/grids.scss */
    body {
        font-size: 16px;
        -webkit-text-size-adjust: none;
    }

    /* line 128, ../sass/grids.scss */
    .row, body, .container {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
    }

    /* line 136, ../sass/grids.scss */
    .row .onecol {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    /* line 136, ../sass/grids.scss */
    .row .twocol {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    /* line 136, ../sass/grids.scss */
    .row .threecol {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    /* line 136, ../sass/grids.scss */
    .row .fourcol {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    /* line 136, ../sass/grids.scss */
    .row .fivecol {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    /* line 136, ../sass/grids.scss */
    .row .sixcol {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    /* line 136, ../sass/grids.scss */
    .row .sevencol {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    /* line 136, ../sass/grids.scss */
    .row .eightcol {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    /* line 136, ../sass/grids.scss */
    .row .ninecol {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    /* line 136, ../sass/grids.scss */
    .row .tencol {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    /* line 136, ../sass/grids.scss */
    .row .elevencol {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    /* line 136, ../sass/grids.scss */
    .row .twelvecol {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }
}
