@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q, blockquote {
    quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}

.container {
    padding-left: 1em;
    padding-right: 1em
}

.row {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0.7em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all
}

.row.extended-height {
    overflow: visible
}

.col, .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
    margin-right: 3.8%;
    float: left;
    min-height: 1px
}

.row .onecol {
    width: 4.85%
}

.row .twocol {
    width: 13.5%
}

.row .threecol {
    width: 22.15%
}

.row .fourcol {
    width: 30.8%
}

.row .fivecol {
    width: 39.45%
}

.row .sixcol {
    width: 48.1%
}

.row .sevencol {
    width: 56.75%
}

.row .eightcol {
    width: 65.4%
}

.row .ninecol {
    width: 74.05%
}

.row .tencol {
    width: 82.7%
}

.row .elevencol {
    width: 91.35%
}

.row .twelvecol {
    width: 100%;
    float: left
}

.last {
    margin-right: 0
}

img, object, embed {
    max-width: 100%
}

img {
    height: auto
}

@media only screen and (max-width: 1023px) {
    body {
        font-size: 0.8em;
        line-height: 1.5em
    }
}

@media handheld, only screen and (max-width: 767px) {
    body {
        font-size: 16px;
        -webkit-text-size-adjust: none
    }

    .row, body, .container {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0
    }

    .row .onecol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .twocol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .threecol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .fourcol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .fivecol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .sixcol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .sevencol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .eightcol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .ninecol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .tencol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .elevencol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }

    .row .twelvecol {
        width: auto;
        float: none;
        position: static !important;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1em
    }
}

html {
    background: #fff
}

#admin-body {
    max-width: 50%
}

body {
    background: #fff;
    color: #444;
    font: 400 0.875em/1.618em "Helvetica", serif;
    text-shadow: 0 2px 1px #fff;
    height: 100%
}

a {
    text-decoration: none
}

a:link, a:visited {
    color: #222
}

ul, ol, dl {
    margin: 0 0 0 1.618em;
    padding: 0
}

ol li {
    list-style: decimal
}

p {
    margin: 0 0 2.618em
}

.centred {
    text-align: center
}

strong, b {
    color: #222;
    font-weight: 600
}

i, em {
    font-style: italic
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 1.618em;
    margin-bottom: 1em;
    text-shadow: 0 1px 1px #fff
}

h6, h5 {
    font-size: 1em
}

h4 {
    font-size: 1.25em
}

h3 {
    font-size: 1.618em;
    letter-spacing: -1px
}

h2 {
    font-size: 2.023em;
    letter-spacing: -1px
}

h1 {
    font-size: 2.618em;
    letter-spacing: -2px
}

#header {
    border-bottom: 1px solid #d9d9d9;
    color: #fff;
    overflow: hidden;
    padding: 1% 0 1.5%;
    left: 0;
    top: 0;
    margin: 0 auto
}

#container {
    margin: 0 auto
}

#footer {
    clear: both
}

form {
    background: #fff;
    border: 1px solid #d9d9d9;
    padding: 0 1.3em 1.3em;
    -webkit-border-radius: 0.3663em;
    -moz-border-radius: 0.3663em;
    -ms-border-radius: 0.3663em;
    -o-border-radius: 0.3663em;
    border-radius: 0.3663em
}

form h4 {
    background: #2F5163;
    border: 1px solid #1f3540;
    color: #fff;
    left: -1.3em;
    top: 0.76923em;
    position: relative;
    padding: 0.3663em 1em;
    float: left;
    text-shadow: 0 1px 1px #000;
    text-transform: capitalize;
    -moz-border-radius-topright: 0.3663em;
    -webkit-border-top-right-radius: 0.3663em;
    border-top-right-radius: 0.3663em;
    -moz-border-radius-bottomright: 0.3663em;
    -webkit-border-bottom-right-radius: 0.3663em;
    border-bottom-right-radius: 0.3663em;
    -moz-border-radius-topleft: 0.3663em;
    -webkit-border-top-left-radius: 0.3663em;
    border-top-left-radius: 0.3663em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 0.27473em #ccc;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 0.27473em #ccc;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 0.27473em #ccc
}

form h4:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 0.3663em 4px;
    border-style: solid;
    border-color: #000 #000 transparent transparent
}

.form-item {
    clear: both;
    padding: 0 0 0.76923em
}

label {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    text-align: right;
    line-height: 2.5em;
    padding-right: 0.76923em;
    position: relative;
    top: -0.27473em;
    font-weight: bold;
    margin-right: 10%
}

label.for-checkable {
    width: auto;
    text-align: left;
    padding: 0 0 0 0.76923em
}

textarea, input[type="text"], input[type="password"], select {
    border: 1px solid #999;
    padding: 1%;
    font-size: 1em;
    width: 58%;
    -webkit-border-radius: 0.27473em;
    -moz-border-radius: 0.27473em;
    -ms-border-radius: 0.27473em;
    -o-border-radius: 0.27473em;
    border-radius: 0.27473em;
    -webkit-box-shadow: inset 1px 1px 0.27473em #d9d9d9;
    -moz-box-shadow: inset 1px 1px 0.27473em #d9d9d9;
    box-shadow: inset 1px 1px 0.27473em #d9d9d9
}

textarea.database-uri, input[type="text"].database-uri, input[type="password"].database-uri, select.database-uri {
    width: 30%;
    min-width: 15em
}

select {
    width: 60%
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, select:focus {
    border-color: #007DFF
}

textarea {
    width: 65%;
    height: 200px
}

#content_teaser-wrapper textarea {
    height: 100px
}

.description {
    padding: 2px 0 0.3663em 2 1em;
    font-size: 80%;
    color: #777;
    max-width: 50%;
    display: block
}

.button, button, input[type="submit"], a.submit {
    background: #d9d9d9;
    border: 1px solid #aaa;
    border-color: #aaa #999 #888;
    color: #000;
    font-size: 85%;
    font-weight: 400;
    margin: 0 1.3em 0 0;
    padding: 0.3663em 1em;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #d9d9d9));
    background: -webkit-linear-gradient(#ededed, #d9d9d9);
    background: -moz-linear-gradient(#ededed, #d9d9d9);
    background: -o-linear-gradient(#ededed, #d9d9d9);
    background: linear-gradient(#ededed, #d9d9d9);
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 4px rgba(150, 150, 150, 0.5);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 4px rgba(150, 150, 150, 0.5);
    box-shadow: inset 0 1px 0 #fff, 0 1px 4px rgba(150, 150, 150, 0.5);
    -webkit-border-radius: 0.45788em;
    -moz-border-radius: 0.45788em;
    -ms-border-radius: 0.45788em;
    -o-border-radius: 0.45788em;
    border-radius: 0.45788em
}

.button:hover, .button:focus, .button.loading, button:hover, button:focus, button.loading, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"].loading, a.submit:hover, a.submit:focus, a.submit.loading {
    background: #2F5163;
    border-color: #333;
    color: #fff;
    text-shadow: 0 1px 1px #111;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 4px rgba(150, 150, 150, 0.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 4px rgba(150, 150, 150, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 4px rgba(150, 150, 150, 0.5);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f6d86), color-stop(100%, #2f5163));
    background: -webkit-linear-gradient(#3f6d86, #2f5163);
    background: -moz-linear-gradient(#3f6d86, #2f5163);
    background: -o-linear-gradient(#3f6d86, #2f5163);
    background: linear-gradient(#3f6d86, #2f5163)
}

.button:active, button:active, input[type="submit"]:active, a.submit:active {
    border-color: #000;
    -webkit-box-shadow: inset 0 0 0.3663em #000;
    -moz-box-shadow: inset 0 0 0.3663em #000;
    box-shadow: inset 0 0 0.3663em #000
}

.button.loading, button.loading, input[type="submit"].loading, a.submit.loading {
    background: #2f5163 url("/images/loader.gif") 1em 50% no-repeat;
    background: url("/images/loader.gif") 1em 50% no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f6d86), color-stop(100%, #2f5163));
    background: url("/images/loader.gif") 1em 50% no-repeat, -webkit-linear-gradient(#3f6d86, #2f5163);
    background: url("/images/loader.gif") 1em 50% no-repeat, -moz-linear-gradient(#3f6d86, #2f5163);
    background: url("/images/loader.gif") 1em 50% no-repeat, -o-linear-gradient(#3f6d86, #2f5163);
    background: url("/images/loader.gif") 1em 50% no-repeat, linear-gradient(#3f6d86, #2f5163);
    padding-left: 40px
}

input.date {
    width: 3em
}

input.date-day, input.time {
    width: 2em
}

input.checkbox, input.radio {
    margin-left: 1.3em
}

input.labelFirst {
    margin-left: auto
}

form .section {
    margin: 0 0 1.3em
}

form .section:first-child {
    border: 0
}

.actions {
    clear: both
}

.actions input {
    float: right
}

.form-steps {
    margin-top: 1em
}

.form-steps ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.form-steps li {
    text-align: center;
    margin-bottom: 0.27473em;
    display: inline-block;
    -webkit-border-radius: 0.3663em;
    -moz-border-radius: 0.3663em;
    -ms-border-radius: 0.3663em;
    -o-border-radius: 0.3663em;
    border-radius: 0.3663em;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #aaaaaa), color-stop(20%, #cccccc));
    background: -webkit-linear-gradient(#aaaaaa 5%, #cccccc 20%);
    background: -moz-linear-gradient(#aaaaaa 5%, #cccccc 20%);
    background: -o-linear-gradient(#aaaaaa 5%, #cccccc 20%);
    background: linear-gradient(#aaaaaa 5%, #cccccc 20%)
}

.form-step-name {
    color: #222;
    background: #d9d9d9;
    border: 1px solid #aaa;
    height: 1.3em;
    font-size: 80%;
    line-height: 1.3em;
    position: relative;
    padding: 0.3663em;
    -webkit-border-radius: 0.3663em;
    -moz-border-radius: 0.3663em;
    -ms-border-radius: 0.3663em;
    -o-border-radius: 0.3663em;
    border-radius: 0.3663em
}

.valid .form-step-name {
    border-color: #888;
    -webkit-box-shadow: inset 0 0 0.45788em #777;
    -moz-box-shadow: inset 0 0 0.45788em #777;
    box-shadow: inset 0 0 0.45788em #777
}

.current .form-step-name {
    background: #2F5163;
    border: 1px solid #111;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px #000;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f6d86), color-stop(100%, #2f5163));
    background: -webkit-linear-gradient(#3f6d86, #2f5163);
    background: -moz-linear-gradient(#3f6d86, #2f5163);
    background: -o-linear-gradient(#3f6d86, #2f5163);
    background: linear-gradient(#3f6d86, #2f5163);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25)
}

#messages {
    clear: both
}

#messages ul {
    list-style: none
}

.info, .success, .warning, .error {
    border: 1px solid;
    cursor: pointer;
    margin: 0 0 1.3em;
    padding: 1em 0.76923em 1em 50px;
    background-repeat: no-repeat;
    background-position: 0.76923em 6px;
    position: fixed;
    right: 1.3em;
    top: 90px;
    text-shadow: 0 1px 0 #fff;
    -webkit-border-radius: 0.3663em;
    -moz-border-radius: 0.3663em;
    -ms-border-radius: 0.3663em;
    -o-border-radius: 0.3663em;
    border-radius: 0.3663em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75)
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url("images/icons/info.png")
}

.success {
    color: #4F8830;
    background-color: #DFF2BF;
    border-color: #AC6;
    background-image: url("images/icons/success.png")
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url("images/icons/warning.png")
}

.error {
    color: #D8000C;
    background-color: #F6D6D6;
    background-image: url("images/icons/error.png");
    border-color: #F6AAAA
}

.admin-install-links {
    border-top: 1px solid #bbb;
    margin-top: 2.618em;
    padding: 1.618em;
    text-align: right
}

.admin-install-links a {
    margin: 0
}

.admin-install-links .back {
    float: left
}

@media screen and (max-width: 1400px) {
    .btn {
        padding: 2.6% 5%
    }
}

@media screen and (max-width: 640px) {
    * {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none
    }
}

@media screen and (max-width: 420px) {
    p {
        font-size: 1.3em;
        line-height: 1.5
    }
}

@media only screen and (max-width: 1023px) {
    body {
        line-height: 1.8
    }
}

@media handheld, only screen and (max-width: 767px) {
    figure figcaption {
        width: 90%
    }

    h1.title {
        font-size: 3em
    }

    h1.shoutout {
        font-size: 40%
    }

    img {
        width: 100%;
        height: 100%
    }

    header, header.row {
        overflow: visible
    }

    header h1, header .toolbar.admin-toolbar li, header.row h1, header.row .toolbar.admin-toolbar li {
        float: none
    }

    .form-steps, .toolbar, .admin-install-links, header, footer, .secondary {
        text-align: center
    }

    .admin-body {
        max-width: 100%
    }

    textarea, input[type="text"], input[type="password"], select, .form-field input.database-uri {
        width: 98%;
        min-width: 98%;
        padding: 0.3663em
    }

    label, .form-item {
        text-align: left;
        margin-right: 0
    }

    ul.tabs {
        height: auto;
        padding-right: 1em
    }

    ul.tabs li {
        float: none
    }

    ul.tabs li a {
        text-align: center
    }

    .adminMenu .menu.admin li {
        display: block;
        text-align: center;
        overflow: hidden
    }

    .adminMenu .menu.admin li a {
        width: 100%
    }

    .adminMenu .menu.admin ul {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 100);
        opacity: 1;
        display: block;
        margin: 0;
        visibility: visible;
        position: static
    }

    .adminMenu .menu.admin ul a {
        width: 100%
    }

    #user-login {
        margin: 1em 0
    }
}
