@media screen and (max-width: 1400px) {
    .btn {
        padding: 2.6% 5%
    }
}

@media screen and (max-width: 640px) {
    * {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none
    }
}

@media screen and (max-width: 420px) {
    p {
        font-size: 1.3em;
        line-height: 1.5
    }
}

@media only screen and (max-width: 1023px) {
    body {
        line-height: 1.8
    }
}

@media handheld, only screen and (max-width: 767px) {
    figure figcaption {
        width: 90%
    }

    h1.title {
        font-size: 3em
    }

    h1.shoutout {
        font-size: 40%
    }

    img {
        width: 100%;
        height: 100%
    }

    header, header.row {
        overflow: visible
    }

    header h1, header .toolbar.admin-toolbar li, header.row h1, header.row .toolbar.admin-toolbar li {
        float: none
    }

    .form-steps, .toolbar, .admin-install-links, header, footer, .secondary {
        text-align: center
    }

    .admin-body {
        max-width: 100%
    }

    textarea, input[type="text"], input[type="password"], select, .form-field input.database-uri {
        width: 98%;
        min-width: 98%;
        padding: 0.3663em
    }

    label, .form-item {
        text-align: left;
        margin-right: 0
    }

    ul.tabs {
        height: auto;
        padding-right: 1em
    }

    ul.tabs li {
        float: none
    }

    ul.tabs li a {
        text-align: center
    }

    .adminMenu .menu.admin li {
        display: block;
        text-align: center;
        overflow: hidden
    }

    .adminMenu .menu.admin li a {
        width: 100%
    }

    .adminMenu .menu.admin ul {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 100);
        opacity: 1;
        display: block;
        margin: 0;
        visibility: visible;
        position: static
    }

    .adminMenu .menu.admin ul a {
        width: 100%
    }

    #user-login {
        margin: 1em 0
    }
}
