/* Main menu */
/* Excellent CSS from http://www.red-team-design.com/css3-dropdown-menu */
/* line 6, ../sass/primary-menu.scss */
#primary-menu {
  width: 100%;
  margin: 0;
  list-style: none;
  background: #111;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #111111));
  background: -webkit-linear-gradient(#444444, #111111);
  background: -moz-linear-gradient(#444444, #111111);
  background: -o-linear-gradient(#444444, #111111);
  background: -ms-linear-gradient(#444444, #111111);
  background: linear-gradient(#444444, #111111);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 16, ../sass/primary-menu.scss */
#primary-menu li {
  float: left;
  padding: 0;
  position: relative;
  line-height: 0;
}

/* line 23, ../sass/primary-menu.scss */
#primary-menu a {
  float: left;
  height: 20px;
  padding: 2px 22px 10px;
  color: #CFCFCF;
  text-transform: uppercase;
  font: bold 12px/29px Arial, Helvetica;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
}

/* line 34, ../sass/primary-menu.scss */
#primary-menu li:hover > a {
  color: #fafafa;
}

/* line 38, ../sass/primary-menu.scss */
* html #primary-menu li a:hover {
  color: #fafafa;
}

/* line 42, ../sass/primary-menu.scss */
#primary-menu li:hover > ul {
  display: block;
}

/* Sub-menu */
/* line 48, ../sass/primary-menu.scss */
#primary-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 99999;
  background: #444;
  background: -moz-linear-gradient(#444444, #111111);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111111), color-stop(1, #444444));
  background: -webkit-linear-gradient(#444444, #111111);
  background: -o-linear-gradient(#444444, #111111);
  background: -ms-linear-gradient(#444444, #111111);
  background: linear-gradient(#444444, #111111);
  -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 72, ../sass/primary-menu.scss */
#primary-menu ul ul {
  top: 0;
  left: 140px;
}

/* line 77, ../sass/primary-menu.scss */
#primary-menu ul li {
  float: none;
  margin: 0;
  padding: 0;
  display: block;
  -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
  -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
  box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

/* line 87, ../sass/primary-menu.scss */
#primary-menu ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 93, ../sass/primary-menu.scss */
#primary-menu ul a {
  padding: 10px;
  height: 10px;
  width: 130px;
  height: auto;
  line-height: 1;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
}

/* line 105, ../sass/primary-menu.scss */
#primary-menu ul a {
  *height: 10px;
  /* IE6 & IE7 */
}

/* line 109, ../sass/primary-menu.scss */
#primary-menu a:hover {
  background: #0186ba;
  background: -moz-linear-gradient(#04acec, #0186ba);
  background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
  background: -webkit-linear-gradient(#04acec, #0186ba);
  background: -o-linear-gradient(#04acec, #0186ba);
  background: -ms-linear-gradient(#04acec, #0186ba);
  background: linear-gradient(#04acec, #0186ba);
}

/* line 119, ../sass/primary-menu.scss */
#primary-menu li:first-child > a {
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

/* line 124, ../sass/primary-menu.scss */
#primary-menu ul li:first-child > a:after {
  content: '';
  position: absolute;
  left: 30px;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #444;
}

/* line 136, ../sass/primary-menu.scss */
#primary-menu ul ul li:first-child a:after {
  left: -8px;
  top: 12px;
  width: 0;
  height: 0;
  border-left: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 8px solid #444;
}

/* line 147, ../sass/primary-menu.scss */
#primary-menu ul li:first-child a:hover:after {
  border-bottom-color: #04acec;
}

/* line 151, ../sass/primary-menu.scss */
#primary-menu ul ul li:first-child a:hover:after {
  border-right-color: #04acec;
  border-bottom-color: transparent;
}

/* line 156, ../sass/primary-menu.scss */
#primary-menu ul li:last-child > a {
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
/* line 162, ../sass/primary-menu.scss */
#primary-menu:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 172, ../sass/primary-menu.scss */
#primary-menu > li:last-child > a {
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

/* line 176, ../sass/primary-menu.scss */
#primary-menu > li:first-child > a {
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

/* line 182, ../sass/primary-menu.scss */
#primary-menu {
  *zoom: 1;
}

/* IE6 & IE7 */
