/**
 * HTML5 ? Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
/* line 26, ../sass/style.scss */
html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 34, ../sass/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 38, ../sass/style.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 43, ../sass/style.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 45, ../sass/style.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 47, ../sass/style.scss */
del {
  text-decoration: line-through;
}

/* line 49, ../sass/style.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 51, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, ../sass/style.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
/* line 60, ../sass/style.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* Hack retained to preserve specificity */
/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
/* line 64, ../sass/style.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/**
 * Minimal base styles.
 */
/* 1) Always force a scrollbar in non-IE
   2) Remove iOS text size adjust without disabling user zoom: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
/* line 73, ../sass/style.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* j.mp/webkit-tap-highlight-color */
/* line 76, ../sass/style.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 79, ../sass/style.scss */
a:hover, a:active {
  outline: none;
}

/* line 81, ../sass/style.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 82, ../sass/style.scss */
a:hover {
  color: #036;
}

/* line 84, ../sass/style.scss */
ul, ol {
  margin-left: 2em;
}

/* line 85, ../sass/style.scss */
ol {
  list-style-type: decimal;
}

/* Remove margins for navigation lists */
/* line 88, ../sass/style.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 90, ../sass/style.scss */
small {
  font-size: 85%;
}

/* line 91, ../sass/style.scss */
b, strong, th {
  font-weight: bold;
}

/* line 93, ../sass/style.scss */
td {
  vertical-align: top;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
/* line 96, ../sass/style.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 97, ../sass/style.scss */
sup {
  top: -0.5em;
}

/* line 98, ../sass/style.scss */
sub {
  bottom: -0.25em;
}

/* line 100, ../sass/style.scss */
pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
}

/* line 104, ../sass/style.scss */
pre code {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 110, ../sass/style.scss */
legend {
  *margin-left: -7px;
}

/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
   2) WebKit browsers add a 2px margin outside the chrome of form elements.
      Firefox adds a 1px margin above and below textareas
   3) Set font-size to match <body>'s, and font-family to sans-serif
   4) Align to baseline */
/* line 117, ../sass/style.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* 1) Remove default scrollbar in IE: www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/
   2) Align to text-top */
/* line 121, ../sass/style.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* Hand cursor on clickable input elements */
/* line 124, ../sass/style.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* Remove extra padding and inner border in Firefox */
/* line 128, ../sass/style.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Colors for form validity */
/* line 132, ../sass/style.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 133, ../sass/style.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 137, ../sass/style.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/**
 * You might tweak these..
 */
/* line 144, ../sass/style.scss */
body, select, input, textarea {
  color: #333;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
/* line 151, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301 */
/*
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
*/
/**
 * Primary styles
 *
 * Author: Dennis Hall
_*/
/* layout */
/* line 171, ../sass/style.scss */
#container {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

/* line 172, ../sass/style.scss */
#body {
  width: 660px;
  float: left;
  margin: 0 20px 20px 0;
  min-height: 100px;
  _display: inline;
}

/* line 173, ../sass/style.scss */
#admin-body {
  margin: 0 0 20px;
}

/* line 174, ../sass/style.scss */
#sidePanel {
  width: 300px;
  float: left;
  margin: 0 0 20px;
}

/* line 175, ../sass/style.scss */
#footer {
  clear: both;
  padding: 20px;
}

/* non-layout */
/* line 178, ../sass/style.scss */
#header {
  float: left;
  width: 100%;
}

/* line 179, ../sass/style.scss */
#header h1 {
  margin: 0;
}

/* line 180, ../sass/style.scss */
#header h1 a {
  display: block;
  float: left;
  color: #000;
  font: 800 50px/1 sans-serif;
  text-shadow: 0px 0px 1px #222;
  text-decoration: none;
  letter-spacing: -2px;
  margin: 20px 0;
}

/* line 190, ../sass/style.scss */
nav.secondary {
  position: absolute;
  top: 22px;
  right: 0;
}

/* line 191, ../sass/style.scss */
nav.primary {
  width: 100%;
  float: left;
  clear: both;
  margin: 0 0 10px;
}

/* line 193, ../sass/style.scss */
table {
  width: 100%;
}

/* line 194, ../sass/style.scss */
th, td {
  padding: 4px;
  border: 1px solid #ccc;
  text-align: left;
}

/* line 196, ../sass/style.scss */
h1 {
  font-size: 200%;
  margin: 0 0 20px;
}

/* line 197, ../sass/style.scss */
h2 {
  font-size: 200%;
  margin: 0 0 20px;
}

/* line 198, ../sass/style.scss */
h3 {
  font-size: 160%;
  text-transform: uppercase;
  margin: 0 0 20px;
}

/* line 199, ../sass/style.scss */
h4 {
  font-size: 130%;
  color: #000;
  margin: 0 0 10px;
}

/* line 200, ../sass/style.scss */
p {
  margin: 0 0 1em;
}

/* line 202, ../sass/style.scss */
.dummy-ad {
  width: 298px;
  height: 248px;
  border: 1px solid #ccc;
  background: #eee;
  color: #aaa;
  line-height: 248px;
  text-align: center;
}

/* form elements */
/* line 205, ../sass/style.scss */
.form-item {
  clear: both;
  padding: 0 0 10px;
}

/*
  label :: width = 150, padding-right = 10
  .description :: padding-left
  =
  input[type=submit] :: margin-left
  =
  .checkable :: margin-left
  = 150 + 10

*/
/* line 217, ../sass/style.scss */
label {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding-right: 10px;
}

/* line 218, ../sass/style.scss */
label.for-checkable {
  width: auto;
  text-align: left;
  padding: 0 0 0 10px;
}

/* line 219, ../sass/style.scss */
select {
  padding: 1px;
}

/* line 220, ../sass/style.scss */
textarea {
  width: 65%;
  height: 200px;
}

/* line 221, ../sass/style.scss */
#content_teaser-wrapper textarea {
  height: 100px;
}

/* line 222, ../sass/style.scss */
.tab-container .actions {
  margin-top: 0;
}

/* line 223, ../sass/style.scss */
.description {
  padding: 2px 0 5px 160px;
  font-size: 11px;
}

/* line 224, ../sass/style.scss */
input[type=submit] {
  margin-left: 160px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
}

/* line 225, ../sass/style.scss */
input.date {
  width: 3em;
}

/* line 227, ../sass/style.scss */
input.date-day,
input.time {
  width: 2em;
}

/* line 228, ../sass/style.scss */
input.checkable {
  margin-left: 160px;
}

/* line 229, ../sass/style.scss */
form .section {
  margin: 0 0 20px;
}

/* line 230, ../sass/style.scss */
form .section:first-child {
  border: 0;
}

/* line 231, ../sass/style.scss */
.actions {
  clear: both;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  margin: 10px 20px 0;
}

/* line 233, ../sass/style.scss */
#userFormToggleTrigger {
  float: right;
}

/* line 234, ../sass/style.scss */
#user-login {
  text-align: right;
}

/* line 235, ../sass/style.scss */
#user-login form {
  text-align: right;
  clear: both;
  padding: 10px;
  background: #ff802f;
}

/* line 236, ../sass/style.scss */
#user-welcome-or-login h2 {
  display: none;
}

/* line 237, ../sass/style.scss */
#user-welcome-or-login label {
  padding-right: 5px;
}

/* line 238, ../sass/style.scss */
#user-welcome-or-login .form-field {
  margin: 0 0 2px;
}

/* line 239, ../sass/style.scss */
#user-welcome-or-login .actions {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 240, ../sass/style.scss */
#user-welcome-or-login input[type=submit] {
  padding: 1px 5px;
  font-size: inherit;
  font-weight: normal;
}

/* line 243, ../sass/style.scss */
#messages {
  clear: both;
}

/* line 246, ../sass/style.scss */
#messages ul {
  list-style: none;
}

/* line 249, ../sass/style.scss */
.info {
  border: 1px solid;
  margin: 0 20px 20px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px 6px;
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url("images/icons/info.png");
}

/* line 259, ../sass/style.scss */
.success {
  border: 1px solid;
  margin: 0 20px 20px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px 6px;
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url("images/icons/success.png");
}

/* line 269, ../sass/style.scss */
.warning {
  border: 1px solid;
  margin: 0 20px 20px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px 6px;
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url("images/icons/warning.png");
}

/* line 279, ../sass/style.scss */
.error {
  border: 1px solid;
  margin: 0 20px 20px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px 6px;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url("images/icons/error.png");
}

/* line 291, ../sass/style.scss */
.sidePanelItem {
  margin: 0 0 10px;
}

/* line 293, ../sass/style.scss */
#footer {
  background: #62555E;
  color: #ddd;
}

/* line 297, ../sass/style.scss */
#footer a {
  color: #fff;
}

/* line 302, ../sass/style.scss */
ul.tabs {
  height: 32px;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
}

/* line 307, ../sass/style.scss */
ul.tabs li {
  float: left;
  height: 31px;
  line-height: 31px;
  border: 1px solid #999;
  border-left: 0;
  margin-bottom: -1px;
  background: #e0e0e0;
  overflow: hidden;
  position: relative;
}

/* line 318, ../sass/style.scss */
ul.tabs li a {
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 1.2em;
  padding: 0 20px;
  border: 1px solid #fff;
  outline: none;
}

/* line 327, ../sass/style.scss */
ul.tabs li a:hover {
  background: #ccc;
}

/* line 331, ../sass/style.scss */
ul.tabs li.active,
ul.tabs li.active a:hover {
  background: #fff;
  border-bottom: 1px solid #fff;
}

/* line 335, ../sass/style.scss */
.tab-container {
  border: 1px solid #999;
  border-top: none;
  clear: both;
}

/* line 340, ../sass/style.scss */
.tab-content {
  padding: 20px 20px 10px;
}

/* line 343, ../sass/style.scss */
.tab-content h2 {
  font-weight: normal;
  padding-bottom: 10px;
  font-size: 1.8em;
}

/* line 348, ../sass/style.scss */
.tab-content h3 a {
  color: #254588;
}

/* line 351, ../sass/style.scss */
.tab-content img {
  float: left;
  margin: 0 20px 20px 0;
  padding: 5px;
}

/**
 * Non-semantic helper classes: please define your styles before this section.
 */
/* For image replacement */
/* line 364, ../sass/style.scss */
.ir {
  display: block;
  text-indent: -99in;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 368, ../sass/style.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 372, ../sass/style.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 375, ../sass/style.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 378, ../sass/style.scss */
.invisible {
  visibility: hidden;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */
/* line 382, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 383, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 384, ../sass/style.scss */
.clearfix {
  zoom: 1;
}

/* line 386, ../sass/style.scss */
.tagcloud {
  height: 180px;
}

/* line 387, ../sass/style.scss */
.tag {
  float: left;
  padding: 1px;
  display: inline;
}

/* line 388, ../sass/style.scss */
.tag-10 {
  font-size: 1.8em;
}

/* line 389, ../sass/style.scss */
.tag-9 {
  font-size: 1.7em;
}

/* line 390, ../sass/style.scss */
.tag-8 {
  font-size: 1.5em;
}

/* line 391, ../sass/style.scss */
.tag-7 {
  font-size: 1.4em;
}

/* line 392, ../sass/style.scss */
.tag-6 {
  font-size: 1.3em;
}

/* line 393, ../sass/style.scss */
.tag-5 {
  font-size: 1.1em;
}

/* line 394, ../sass/style.scss */
.tag-4 {
  font-size: 1em;
}

/* line 395, ../sass/style.scss */
.tag-3 {
  font-size: .9em;
}

/* line 396, ../sass/style.scss */
.tag-2 {
  font-size: .8em;
}

/* line 397, ../sass/style.scss */
.tag-1 {
  font-size: .7em;
}

/** Search **/
/* line 400, ../sass/style.scss */
.search {
  float: right;
  clear: both;
}

/* line 405, ../sass/style.scss */
.search .actions {
  border: none;
  margin: 0px;
  padding: 0px;
  float: right;
}

/* line 412, ../sass/style.scss */
.search label {
  width: 50px;
}

/* line 416, ../sass/style.scss */
.search .actions input {
  margin: 0px;
  padding: 2px;
  margin-left: 10px;
  font-size: 0.9em;
}

/* line 423, ../sass/style.scss */
.facets {
  width: 150px;
  float: left;
  margin-right: 30px;
}

/**
 * Placeholder media queries for responsive design. Modify as design requires.
 * These follow after, and will override, the primary ('mobile first') styles
 * The closing /mediaquery comment is required by respond.js min/max-width Media Query polyfill
 */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
/*/mediaquery*/
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/*/mediaquery*/
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  /* line 454, ../sass/style.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 456, ../sass/style.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 457, ../sass/style.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 458, ../sass/style.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 459, ../sass/style.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 460, ../sass/style.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 461, ../sass/style.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 462, ../sass/style.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 463, ../sass/style.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 465, ../sass/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 466, ../sass/style.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
